@{
    ViewData["Title"] = "Patient dashboard";
}
@model hellodoc.DbEntity.ViewModels.RequestFormModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<div class="tab-content bgcolor1 mb-5">
    <div class="tab-pane container active" id="profile">

    <div class=" col-12 col-sm-12 col-md-12 col-lg-12 mx-auto d-flex justify-content-between pt-5 ">
        <h2>User Profile</h2>
        <a asp-action="patient_dashboard" class="d-flex btn btn-outline-info bg-transparent text-decoration-none fs-5 text-info text-end p-1">
                <i class="bi bi-chevron-left"></i>Back
        </a>

    </div>
    <div class="d-grid gap-2 col-12 col-sm-12 col-md-12 col-lg-12 mx-auto d-flex content px-4 mt-4">


        <form method="post" id="profileForm" >
            <h3 id="t1" class="pt-2 pb-4">General Information</h3>



            <div class="row">
                <div class="form-floating mb-3  col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="floatingInput" asp-for="@Model.Firstname" placeholder="Firstname" disabled>
                    <label for="floatingInput" class="mx-3">First Name</label>
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="floatingInput" asp-for="@Model.Lastname" placeholder="Lastname" disabled>
                    <label for="floatingInput" class="mx-3">Last Name</label>
                    <span asp-validation-for="Lastname" class="text-danger"> </span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="Date" class="form-control" id="floatingInput" asp-for="@Model.DateOfBirth" asp-format="{0:yyyy-MM-dd}" placeholder="DateOfBirth" disabled>
                    <label for="floatingInput" class="mx-3">Date Of Birth</label>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>

            <h3 class="pt-2 pb-4" id="t1">
                Patient Contact Information
            </h3>

            <div class="row">
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="email" class="form-control" id="floatingInput" asp-for="@Model.PatientEmail" placeholder="Email" disabled>
                    <label for="floatingInput" class="mx-3">Email address</label>
                    <span asp-validation-for="PatientEmail" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-6 col-lg-6">
                    <input type="tel" class="form-control pt-3 pb-3" id="phone" asp-for="@Model.Phonenumber" placeholder="Phone number" disabled>
                    <span asp-validation-for="Phonenumber" class="text-danger"></span>
                </div>
            </div>

            <h3 class="pt-2 pb-4" id="t1">
                Patient Location
            </h3>

            <div class="row">
                <div class="form-floating mb-3  col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="street" asp-for="@Model.Street" placeholder="Street" disabled>
                    <label for="floatingInput" class="mx-3">Street</label>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="city" asp-for="@Model.City" placeholder="City" disabled>
                    <label for="floatingInput" class="mx-3">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                    <div class="form-floating mb-3  col-md-6 col-lg-6">
                        <select class="form-select form-control" aria-label="Default select example" asp-for="State" disabled>
                            <option selected disabled>State</option>
                            @{
                                foreach (var item in Model.regions)
                                {
                                    <option value="@item.Regionid">@item.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="floatingInput" asp-for="Zipcode" placeholder="ZipCode" disabled>
                    <label for="floatingInput" class="mx-3">Zip Code</label>
                    <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
                    <div class="form-floating mb-3 col-12 col-sm-2 mt-3">
                        @{
                            if(Model.Street != null && Model.City != null)
                            {
                                string address = Model.Street + "," + Model.City + "," + Model.regions.FirstOrDefault(r => r.Regionid == Model.State).Name;
                                <a class="btn btn-white text-info border-1 border-info rounded bg-transparent px-3 py-2" id="openBtn" target="_blank" href="https://www.google.com/maps/search/?api=1&query=@Uri.EscapeDataString(address)"><i class="bi bi-geo-alt"></i>Map</a>
                            }
                        }
                    </div>
            </div>



            <div class="d-flex justify-content-end" id="edit1">
                <button type="button" class="btn btn-info mx-3 p-2 px-3 mb-2" onclick="edit()" id="e1">Edit</button>
            </div>
            <div class="d-flex justify-content-end" id="edit2">
                <button type="button" class="btn btn-info mx-3 p-2 px-3 mb-2" id="b1" style="display:none;" onclick="UpdateData()">Save</button>
                <button type="reset" class="btn btn-dark mx-3 p-2 px-3 mb-2" id="b2" style="display:none;" onclick="cancel()">Cancel</button>
            </div>
        </form>
    </div>

</div>
</div>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    function UpdateData() {

        var formdata = [];
        formdata = $('#profileForm').serializeArray();
        formdata.push({ name: "actionType", value: 'update_profile' }); 
        var form = $.param(formdata);

        if ($('#profileForm').valid()) {
            $.ajax({
                url: '/Patient/PatientUpdateData',
                type: 'POST',
                data: form,
                success: function (data) {
                    toastr.success(data);
                    GetPatientView({ actionType: 'patient_profile' });
                },
                error: function () {
                    console.error('Error loading partial view.');
                }
            });
        }
        
    }
</script>