@{
    ViewData["Title"] = "Patient dashboard";
}
@model hellodoc.DbEntity.ViewModels.RequestFormModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<div class="tab-content bgcolor1 mb-5">
    <div class="tab-pane container active" id="profile">

    <div class=" col-12 col-sm-12 col-md-12 col-lg-12 mx-auto d-flex justify-content-between pt-5 ">
        <h2>User Profile</h2>
        <a asp-action="patient_dashboard" class="d-flex btn btn-outline-info bg-transparent text-decoration-none fs-5 text-info text-end p-1">
            <span class="material-icons pt-2">
                chevron_left
            </span>
            <span class="pe-2">Back</span>
        </a>

    </div>
    <div class="d-grid gap-2 col-12 col-sm-12 col-md-12 col-lg-12 mx-auto d-flex content px-4 mt-4">


        <form method="post" id="profileForm" >
            <h3 id="t1" class="pt-2 pb-4">General Information</h3>



            <div class="row">
                <div class="form-floating mb-3  col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="floatingInput" asp-for="@Model.Firstname" placeholder="Firstname" disabled>
                    <label for="floatingInput" class="mx-3">First Name</label>
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="floatingInput" asp-for="@Model.Lastname" placeholder="Lastname" disabled>
                    <label for="floatingInput" class="mx-3">Last Name</label>
                    <span asp-validation-for="Lastname" class="text-danger"> </span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="Date" class="form-control" id="floatingInput" asp-for="@Model.DateOfBirth" placeholder="DateOfBirth" disabled>
                    <label for="floatingInput" class="mx-3">Date Of Birth</label>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>

            <h3 class="pt-2 pb-4" id="t1">
                Patient Contact Information
            </h3>

            <div class="row">
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="email" class="form-control" id="floatingInput" asp-for="@Model.PatientEmail" placeholder="Email" disabled>
                    <label for="floatingInput" class="mx-3">Email address</label>
                    <span asp-validation-for="PatientEmail" class="text-danger"></span>
                </div>
                <div class="form-floating col-md-6 col-lg-6">
                    <input type="tel" class="form-control pt-3 pb-3" id="phone" asp-for="@Model.Phonenumber" placeholder="Phone number" disabled>
                    <span asp-validation-for="Phonenumber" class="text-danger"></span>
                </div>
            </div>


            <h3 class="pt-2 pb-4" id="t1">
                Patient Location
            </h3>

            <div class="row">
                <div class="form-floating mb-3  col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="floatingInput" asp-for="@Model.Street" placeholder="Street" disabled>
                    <label for="floatingInput" class="mx-3">Street</label>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="floatingInput" asp-for="@Model.City" placeholder="City" disabled>
                    <label for="floatingInput" class="mx-3">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3  col-md-6 col-lg-6">
                    <input type="text" class="form-control" id="floatingInput" asp-for="@Model.State" placeholder="State" disabled>
                    <label for="floatingInput" class="mx-3">State</label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="number" class="form-control" id="floatingInput" asp-for="@Model.Zipcode" placeholder="ZipCode" disabled>
                    <label for="floatingInput" class="mx-3">Zip Code</label>
                    <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>

            </div>



            <div class="d-flex justify-content-end" id="edit1">
                <button type="button" class="btn btn-info mx-3 p-2 px-3 mb-2" onclick="edit()" id="e1">Edit</button>
            </div>
            <div class="d-flex justify-content-end" id="edit2">
                <button type="button" class="btn btn-info mx-3 p-2 px-3 mb-2" id="b1" style="display:none;" onclick="UpdateData()">Save</button>
                <button type="reset" class="btn btn-dark mx-3 p-2 px-3 mb-2" id="b2" style="display:none;" onclick="cancel()">Cancel</button>
            </div>
        </form>
    </div>

</div>
</div>

<script>
    function UpdateData() {

        var formdata = [];
        formdata = $('#profileForm').serializeArray();
        formdata.push({ name: "actionType", value: 'update_profile' }); 
        var form = $.param(formdata);

        $.ajax({
            url: '/Patient/PatientUpdateData',
            type: 'POST',
            data: form,
            success: function (data) {
                toastr.success(data);
                GetPatientView({ actionType: 'patient_profile' });
            },
            error: function () {
                console.error('Error loading partial view.');
            }
        });
    }
</script>