@model hellodoc.DbEntity.ViewModels.PopUpModal.AssignCaseModal

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="font-weight:600">
            <form id="form1" method="post" asp-action="AssignCase" asp-route-requestid=@Model.Requestid asp-route-modaltype="@Model.Modaltype">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="exampleModalLabel"> @Model.Modaltype Request</h5>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p class="mt-1 text-black-50 fs-6"> To assign this request , search and select other Physician.</p>

                    
                    <select class="form-select mt-3 h-100" aria-label="Default select example" id="regionselect" asp-for="@Model.Regionid">
                        <option selected disabled>Select Region</option>
                        @{
                            foreach(var a in Model.Regions)
                            {
                                <option value="@a.Regionid">@a.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="@Model.Regionid" class="text-danger"></span>

                    <select class="form-select mt-3 h-100" aria-label="Default select example" asp-for="@Model.Physicianid" id="Physicianselect">
                        <option selected disabled>Select Physician</option>                    </select>
                    <span asp-validation-for="@Model.Physicianid" class="text-danger"></span>

                    <textarea asp-for="@Model.Discription" rows="5" class="col-12 form-control mt-3" placeholder="Add Discription" style="font-size:medium" class="p-1"></textarea>
                    <span asp-validation-for="@Model.Discription" class="text-danger"></span>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info text-white">Continue</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        $("#regionselect").change(function (){
            var select = $(this).val();
            console.log(select);

            var physician = getphysician(select);
            console.log(physician)
        })
    })

    function getphysician(select){

        var physician = $("#Physicianselect");

        $.ajax({
            url : '/DashActionView/GetPhysicians',
            type: 'POST',
            data : {select : select},
            dataType: 'json',
            success: function(data){
                
                physician.empty();
                physician.append('<option selected disabled>Select Physician</option>');

                for(var i=0; i<data.length; i++){
                    physician.append('<option value = '+data[i].physicianid + '>'+ data[i].firstname +'</option>');
                }
            },
            error: function (e) {
                console.log(e);
            }
        })
    }
</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>