@model hellodoc.DbEntity.ViewModels.PatientReqModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<Partial name="_Notification" />
<div class="login" id="main" style="margin-bottom:100px">
    
    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex justify-content-between mt-4 mb-2">
            <h3> Documnets </h3>
            <button onclick="loadPartialDashView('dashboard')" class="d-flex btn btn-outline-info bg-transparent  text-end text-info fs-5 text-decoration-none">
                <span class="material-icons pt-2">
                    chevron_left
                </span>
                <span class="p-1">Back</span>
            </button>

        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-4 bgcolor px-4 mt-4">

            <p class="mt-3">Patient Name</p>
            <h4 class="text-info">@Model.Firstname @Model.Lastname &nbsp;<span class="text-black-50 fs-5">(@Model.Confirmationnumber)</span></h4>
            <p>check here for any files that you or the doctors of your subsequents requestors have attached for you to review</p>

            <form method="post" id="fileUpload" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="file1" placeholder="Select File" asp-for="Doc">
                    <span asp-validation-for="Doc" class="text-danger"></span>
                    <button type="button" onclick="savedoc()" class="mx-2 btn btn-info text-white"><img src="/images/cloud-upload-icon.svg" class="p-1" alt="">Upload</button>
                </div>
            </form>

            <div class="d-flex justify-content-between">
                <h3> Documents </h3>
                <div>
                    <button class="btn btn-outline-info mx-1 " onclick="deleteAll('@Model.Requestid','DownloadAll')"><i class="bi bi-cloud-arrow-down d-block d-sm-none"></i><span class="d-none d-sm-block">Download All</span></button>
                    <button class="btn btn-outline-info mx-1" onclick="deleteAll('@Model.Requestid','DeleteAll')"><i class="bi bi-trash3  d-block d-sm-none"></i><span class="d-none d-sm-block">Delete All</span></button>
                    <button class="btn btn-outline-info mx-1" onclick="deleteAll('@Model.Requestid','SendEmail')"><i class="bi bi-envelope d-block d-sm-none"></i><span class="d-none d-sm-block">Send Email</span></button>
                </div>
            </div>
            <div class="d-none d-sm-block">
            <table class="table mt-4" id="patientdash">
                <thead>
                    <tr>
                        <th scope="col" style="background-color:#bdbdbd" class="mx-auto"><input type="checkbox" class="custom-check" id="check-header" onchange="selectAll()" /></th>
                        <th scope="col" style="background-color:#bdbdbd">Documents</th>
                        <th scope="col" style="background-color:#bdbdbd">Uploaded Date</th>
                        <th scope="col" style="background-color:#bdbdbd">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var a in Model.patientDocuments)
                        {
                            <tr>
                                <td> <input type="checkbox" class="custom-check docCheck" value="@a.Requestwisefileid" /> </td>
                                <td>
                                    @{
                                        if(a.Doctype == ".pdf")
                                        {
                                            <i class="bi bi-file-earmark-pdf-fill text-danger fs-5"></i>
                                        }
                                        else if (a.Doctype == ".jpg")
                                        {
                                            <i class="bi bi-filetype-jpg text-info fs-5"></i>
                                        }
                                        else if (a.Doctype == ".xlsx")
                                        {
                                            <i class="bi bi-file-earmark-excel-fill fs-5 text-success"></i>
                                        }
                                        else if (a.Doctype == ".txt")
                                        {
                                            <i class="bi bi-card-text fs-5"></i>
                                        }
                                    }
                                    @a.Filename
                                </td>
                                <td>@a.Createddate</td>
                                <td>
                                    <a asp-route-download=@a.Requestwisefileid asp-action="download" asp-controller="AdminDash" class="btn btn-outline-info"><i class="bi bi-cloud-download"></i></a>
                                        <button onclick="loadActionView({ActionType:'deleteDoc',requestid :@a.Requestid,requestwisefileid : @a.Requestwisefileid})" class="btn btn-outline-info"><i class="bi bi-trash3"></i></button>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            </div>
            <div class="d-block d-sm-none">
                
                @{
                    foreach (var a in Model.patientDocuments)
                    {
                        <div>
                            <div class="d-flex">
                            <input type="checkbox" class="custom-check m-2" value="@a.Requestwisefileid" />
                            <div class="fs-6">
                                @{
                                    if (a.Doctype == ".pdf")
                                    {
                                        <i class="bi bi-file-earmark-pdf-fill text-danger fs-3 m-2"></i>
                                    }
                                    else if (a.Doctype == ".jpg")
                                    {
                                        <i class="bi bi-filetype-jpg text-info fs-3 m-2"></i>
                                    }
                                    else if (a.Doctype == ".xlsx")
                                    {
                                        <i class="bi bi-file-earmark-excel-fill fs-3 m-2 text-success"></i>
                                    }
                                    else if (a.Doctype == ".txt")
                                    {
                                        <i class="bi bi-card-text fs-3 m-2"></i>
                                    }
                                }
                                @a.Filename
                            </div>
                            </div>
                            <div class="m-2 fs-6">@a.Createddate</div>
                            <div>
                                <a asp-route-download=@a.Requestwisefileid asp-action="download" class="btn btn-outline-info m-2"><i class="bi bi-cloud-download"></i></a>
                                <button onclick="loadActionView('deleteDoc','@a.Requestid','@a.Requestwisefileid')" class="btn btn-outline-info m-2"><i class="bi bi-trash3"></i></button>

                            </div>
                            <hr>
                        </div>
                    }
                }

            </div>

        </div>


    </div>

</div>

<script>

    function selectAll(){
        var checkboxes = document.querySelectorAll(".docCheck");
        var check = document.getElementById("check-header").checked;
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = check;
        });
        
    }
    
</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
    }