@model hellodoc.DbEntity.ViewModels.ProviderProfileModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex justify-content-between mt-4 mb-2">
            <h3> Create Physician Account</h3>
            <button onclick="loadPartialDashView('dashboard')" class="d-flex btn btn-outline-info bg-transparent  text-end text-info fs-6">
                <span class="material-icons pt-2">
                    chevron_left
                </span>
                <span class="p-1">Back</span>
            </button>

        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-4 shadow">

            <form method="post" enctype="multipart/form-data" asp-action="CreateProvider">
            <h4 class="mt-3">Account Information</h4>

                <div class="row mt-3">

                    <div class="form-floating mb-3  col-md-4">
                        <input type="text" class="form-control pedit3" asp-for="username" placeholder="User Name">
                        <label class="mx-3">User Name</label>
                        <span asp-validation-for="username" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3  col-md-4">
                        <input type="text" class="form-control pedit3" asp-for="password" placeholder="Password">
                        <label for="rolename" class="mx-3">Password</label>
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-4">
                        <select class="form-select" aria-label="Default select example" asp-for="selectrole">
                            <option value="0" selected disabled>All</option>
                            @{
                                foreach (var role in Model.roles)
                                {
                                        <option value="@role.Roleid"> @role.Name </option>
                                }
                            }
                        </select>
                    </div>

                </div>

                


            <h4 class="mt-3">Physician  Information</h4>

                <div class="row mt-3">
                    <div class="form-floating mb-3  col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="Firstname" placeholder="Firstname" >
                        <label for="floatingInput" class="mx-3">First Name</label>
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="Lastname" placeholder="Lastname" >
                        <label for="floatingInput" class="mx-3">Last Name</label>
                        <span asp-validation-for="Lastname" class="text-danger"> </span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="email" class="form-control pedit2" id="email123" asp-for="ProviderEmail" placeholder="Email" >
                        <label for="email123" class="mx-3">Email</label>
                        <span asp-validation-for="ProviderEmail" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="Phone" placeholder="Phone Number" >
                        <label for="floatingInput" class="mx-3">Phone Number</label>
                        <span asp-validation-for="Phone" class="text-danger"> </span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="MediacalLicense" placeholder="Mediacal License" >
                        <label for="floatingInput" class="mx-3">MediacalLicense</label>
                        <span asp-validation-for="MediacalLicense" class="text-danger"> </span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="NPI" placeholder="NPI" >
                        <label for="floatingInput" class="mx-3">NPI</label>
                        <span asp-validation-for="NPI" class="text-danger"> </span>
                    </div>
                    <div class="row col-md-6">
                    @{
                        foreach (var item in Model.regions)
                        {
                                <div class="form-check col mx-3">
                                    <input class="form-check-input regioncheck" type="checkbox" value="@item.Regionid" name="regionList" id="@item.Name">
                                    <label class="form-check-label" for="@item.Regionid">
                                        @item.Name
                                    </label>
                                </div>
                        }
                    }
                    </div>

                </div>


                

            <h4 class="mt-3">Mailing & Billing Information</h4>
            <div class="row mt-3">
                <div class="form-floating mb-3  col-md-6 col-lg-6">
                    <input type="text" class="form-control AdminProfile2" id="floatingInput" asp-for="Address1" placeholder="Address1">
                    <label for="floatingInput" class="mx-3">Address1</label>
                    <span asp-validation-for="Address1" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="text" class="form-control AdminProfile2" id="floatingInput" asp-for="Address2" placeholder="Address2">
                    <label for="floatingInput" class="mx-3">Address2</label>
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="text" class="form-control AdminProfile2" id="floatingInput" asp-for="City" placeholder="City">
                    <label for="floatingInput" class="mx-3">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3  col-md-6 col-lg-6">
                    <input type="text" class="form-control AdminProfile2" id="floatingInput" asp-for="State" placeholder="State">
                    <label for="floatingInput" class="mx-3">State</label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="number" class="form-control AdminProfile2" id="floatingInput" asp-for="Zipcode" placeholder="ZipCode">
                    <label for="floatingInput" class="mx-3">Zip Code</label>
                    <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 col-md-6 col-lg-6">
                    <input type="text" class="form-control AdminProfile2" id="floatingInput" asp-for="MailingNumber" placeholder="Phone Number">
                    <label for="floatingInput" class="mx-3">Phone Number</label>
                    <span asp-validation-for="MailingNumber" class="text-danger"> </span>
                </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <button type="button" class="btn btn-outline-info" onclick="ShowModal({actionType : 'SelectMap'})">Map</button>
                        <input type="text" class="form-control" id="Lat" asp-for="Lat" hidden>
                        <input type="text" class="form-control" id="Lang" asp-for="Lang" hidden>
                        <span asp-validation-for="Lat" class="text-danger"> </span>
                        <span asp-validation-for="Lang" class="text-danger"> </span>
                    </div>
            </div>

            <h4 class="mt-3">Provider Profile</h4>

                <div class="row mt-3">
                    <div class="form-floating mb-3  col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit4" id="floatingInput" asp-for="BusinessName" placeholder="Business Name" >
                        <label for="floatingInput" class="mx-3">Business Name</label>
                        <span asp-validation-for="BusinessName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="email" class="form-control pedit4" id="floatingInput" asp-for="BusinessWebsite" placeholder="Business Website" >
                        <label for="floatingInput" class="mx-3">Business Website</label>
                        <span asp-validation-for="BusinessWebsite" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-6">
                        <div class="d-flex upload-btn-wrapper">
                            <button class="rounded-0 btn btn-outline-secondary  pedit4 col-9" id="inputGroupFileAddon04">Select Photo</button>
                            <input type="file" id="imageInput" class="pedit4" asp-for="photo" />
                            <button type="button" class="btn btn-info text-white pedit4"><i class="bi bi-cloud-arrow-up p-1"></i>Upload</button>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center">
                        <img class="m-3" id="imagePreview" src="#" height="230" width="300" alt="Preview">
                    </div>
                    

                    <textarea class="form-control pedit4" placeholder="admin notes" id="floatingTextarea2" rows="5" asp-for="AdminNotes"></textarea>
                </div>

            <hr />

            <h4 class="mt-3">Onboarding</h4>
                <div class="m-2 d-flex">
                    <input type="checkbox" class="custom-check bg-info me-3" id="docCheck1" />
                    <h6 class="m-2 col-4">Independent Contractor Agreement</h6>
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-info text-white mx-1">Upload</button>
                        <input type="file" class="documentInput" asp-for="IndependentContractorManagement" id="IndependentContractorManagement" onchange="DocSelectCheckbox('docCheck1')" />
                    </div>
                    <button type="button" class="viewButton btn btn-info text-white mx-2" style="display: none;">View</button>
                </div>
                <div class="d-flex m-2">
                    <input type="checkbox" class="custom-check bg-info me-3" id="docCheck2" />
                    <h6 class="m-2 col-4">Background Check</h6>
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-info text-white mx-1">Upload</button>
                        <input type="file" class="documentInput" asp-for="BackgroungCheck" id="BackgroungCheck" onchange="DocSelectCheckbox('docCheck2')" />
                    </div>
                    <button type="button" class="viewButton btn btn-info text-white mx-2" style="display: none;">View</button>
                </div>
                <div class="d-flex m-2">
                    <input type="checkbox" class="custom-check bg-info me-3" id="docCheck3" />
                    <h6 class="m-2 col-4">HIPAA Compliance</h6>
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-info text-white mx-1">Upload</button>
                        <input type="file" class="documentInput" asp-for="HIPAA" id="HIPAA" onchange="DocSelectCheckbox('docCheck3')" />
                    </div>
                    <button type="button" class="viewButton btn btn-info text-white mx-2" style="display: none;">View</button>
                </div>
                <div class="d-flex m-2">
                    <input type="checkbox" class="custom-check bg-info me-3" id="docCheck4"/>
                    <h6 class="m-2 col-4">Non-disclosure Agreement</h6>
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-info text-white mx-1">Upload</button>
                        <input type="file" class="documentInput" asp-for="NondisclosureAggrement" id="NondisclosureAggrement" onchange="DocSelectCheckbox('docCheck4')" />
                    </div>
                    <button type="button" class="viewButton btn btn-info text-white mx-2" style="display: none;">View</button>
                </div>
                

            <hr />
            <div class="d-flex justify-content-end m-1">
                <button type="submit" class="btn btn-success text-white mx-2">Create Accoount</button>
            </div>
            </form>
        </div>


    </div>

</div>

<script>
    function DocSelectCheckbox(id){
        document.getElementById(id).checked = true;
    }

    const imageInput = document.getElementById('imageInput');
    const imagePreview = document.getElementById('imagePreview');

    imageInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    document.querySelectorAll('.documentInput').forEach(function(input, index) {
    input.addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const viewButton = document.querySelectorAll('.viewButton')[index];
            viewButton.style.display = 'block';
            viewButton.addEventListener('click', function() {
                // Open a new page to view the document
                window.open(URL.createObjectURL(file), '_blank');
            });
        }
    });

        
});

</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

