@model List<hellodoc.DbEntity.DataModels.Timesheet>

<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto mt-4 mb-2">

            <div class="d-flex justify-content-between">
                <h4> Finalize TimeSheet </h4>
                <button class="btn btn-outline-info bg-transparent text-info" onclick="GetProvidersView({actionType : 'invoicing' })"><i class="bi bi-chevron-left"></i>Back</button>
            </div>
        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-4">
            <form asp-action="SaveTimesheet" asp-route-physicianid="@ViewBag.physicianid" asp-route-month="@ViewBag.month" asp-route-year="@ViewBag.year" asp-route-slot="@ViewBag.timeslot">
                <div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block mt-4" id="searchrecordstable">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>On Call Hours</th>
                                <th>Total Hours</th>
                                <th>Weekend/ Holiday</th>
                                <th>Number Of HouseCalls</th>
                                <th>Number Of Phone Consults</th>
                            </tr>
                        </thead>
                        <tbody style="font-size:larger;font-weight:400;">
                            @{
                                var i = 0;
                                foreach (var a in Model)
                                {
                                    <input type="date" asp-for="@Model[i].Date" asp-format="{0:yyyy-MM-dd}" hidden/>
                                    <input type="text" asp-for="@Model[i].Invoicingid" hidden/>
                                    <tr class="m-2">
                                        <td class="text-black">@Model[i].Date </td>
                                        <td class="text-black">@Model[i].Oncallhours</td>
                                        <td class="text-black"><input type="text" class="form-control h-100" asp-for="@Model[i].Totalhours" /></td>
                                        <td class="text-black"><input type="checkbox" class="custom-check d-check providerscheck bg-info" asp-for="@Model[i].Weekend" /></td>
                                        <td class="text-black"><input type="text" class="form-control h-100" asp-for="@Model[i].Housecalls" /></td>
                                        <td class="text-black"><input type="text" class="form-control h-100" asp-for="@Model[i].Phoneconsults" /></td>
                                    </tr>
                                    i++;
                                }
                              
                            }

                        </tbody>
                    </table>

                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-info text-white m-2 p-2 px-4">submit</button>
                </div>

            </form>
        </div>

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto mt-4 mb-2">
            <button type="button" class="btn btn-info text-white m-2 p-2 px-4" onclick="toggleReceipts()">Add Receipts</button>
        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-4" id="receipts">
           
                <div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block mt-4" id="searchrecordstable">
                    <table class="w-100">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Item</th>
                                <th>Amount</th>
                                <th>Bill</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody style="font-size:larger;font-weight:400;">
                            @{
                                var j = 0;
                                foreach (var a in Model)
                                {
                                    <tr class="m-2">
                                    <form id="SaveReciept_@Model[j].Date.Value.Day" method="post">
                                        <td class="text-black">@Model[j].Date </td>
                                        <td class="text-black" style="width:15%"><input type="text" class="form-control h-100" id="Item_@Model[j].Date.Value.Day" asp-for="@Model[j].Item" disabled/></td>
                                        <td class="text-black" style="width:15%"><input type="text" class="form-control h-100" id="Amount_@Model[j].Date.Value.Day" asp-for="@Model[j].Amount" disabled/></td>
                                        <td class="text-black" >
                                            @{
                                                if(a.Billdoc != null)
                                                {
                                                    <div class="d-none" id="inputGroupFileAddon_@Model[j].Date.Value.Day">
                                                    <div class="d-flex upload-btn-wrapper">
                                                        <button class="rounded-0 btn btn-outline-secondary col-4">Select File</button>
                                                        <input type="file" id="imageInput_@Model[j].Date.Value.Day" onchange="updateFileName(this,'@Model[j].Date.Value.Day')" />
                                                        <button type="button" class="btn btn-info text-white rounded-0"><i class="bi bi-cloud-arrow-up p-1"></i>Upload</button>
                                                    </div>
                                                    </div>
                                                    <div class="" id="inputGroupFileAddon1_@Model[j].Date.Value.Day">
                                                        @a.Billdoc
                                                     </div>
                                                }
                                                else{
                                                <div id="inputGroupFileAddon_@Model[j].Date.Value.Day">
                                                    <div class="d-flex upload-btn-wrapper">
                                                        <button class="rounded-0 btn btn-outline-secondary col-4">Select File</button>
                                                        <input type="file" id="imageInput_@Model[j].Date.Value.Day" onchange="updateFileName(this,'@Model[j].Date.Value.Day')" />
                                                        <button type="button" class="btn btn-info text-white rounded-0"><i class="bi bi-cloud-arrow-up p-1"></i>Upload</button>
                                                    </div>
                                                </div>
                                                <div class="d-none" id="inputGroupFileAddon1_@Model[j].Date.Value.Day">
                                                </div>
                                                }
                                             }
                                       
                                        </td>
                                        <td class="text-black">
                                        
                                            @{
                                                if (a.Billdoc != null)
                                                {
                                                    <div class="" id="action_@Model[j].Date.Value.Day">
                                                <button type="button" id="save_@Model[j].Date.Value.Day" onclick="SaveReciepts('@Model[j].Timesheetid','@Model[j].Invoicingid','@Model[j].Date','@Model[j].Date.Value.Day','edit')" class="d-none btn btn-outline-info text-info bg-transparent m-1">save</button>
                                                <button type="button" id="edit_@Model[j].Date.Value.Day" class="btn btn-outline-info text-info bg-transparent m-1" onclick="editReciept(@Model[j].Date.Value.Day)">Edit</button>
                                                <button type="reset" id="cancel_@Model[j].Date.Value.Day" class="d-none btn btn-outline-info text-info bg-transparent m-1">Cancel</button>
                                                <button type="button" id="delete_@Model[j].Date.Value.Day" class="btn btn-outline-info text-info bg-transparent m-1" onclick="deleteReciept('@Model[j].Timesheetid','@Model[j].Date.Value.Day')">Delete</button>
                                                    <a class="btn btn-outline-info text-info bg-transparent m-1" id="view_@Model[j].Date.Value.Day" href="/invoicing/@Model[j].Invoicingid/@Model[j].Billdoc" target="_blank">View</a>
                                                </div>
                                            }
                                                else
                                                {
                                                <div class="d-none" id="action_@Model[j].Date.Value.Day">
                                                 <button type="button" id="save_@Model[j].Date.Value.Day" onclick="SaveReciepts('@Model[j].Timesheetid','@Model[j].Invoicingid','@Model[j].Date','@Model[j].Date.Value.Day','save')" class="btn btn-outline-info text-info bg-transparent m-1">save</button>
                                                 <button type="reset" id="cancel_@Model[j].Date.Value.Day" class="d-none btn btn-outline-info text-info bg-transparent m-1" onclick="cancelReciept('@Model[j].Date.Value.Day')">Cancel</button> 
                                                 <button type="button" id="edit_@Model[j].Date.Value.Day" class="btn btn-outline-info text-info bg-transparent m-1" onclick="editReciept(@Model[j].Date.Value.Day)">Edit</button>
                                                 <button type="button" id="delete_@Model[j].Date.Value.Day" class="btn btn-outline-info text-info bg-transparent m-1" onclick="deleteReciept('@Model[j].Timesheetid','@Model[j].Date.Value.Day')">Delete</button>
                                                 <a class="btn btn-outline-info text-info bg-transparent m-1" id="view_@Model[j].Date.Value.Day" href="" target="_blank">View</a>
                                                </div>
                                                }
                                            }
                                        
                                        </td>
                                         </form>
                                    </tr>
                                    
                                    j++;
                                }

                            }

                        </tbody>
                    </table>

                </div>
            
        </div>

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto mt-4 mb-2 d-flex justify-content-end">
            <a class="btn btn-info text-white m-2 p-2 px-4" asp-action="finalizeTimeSheet" asp-route-invoicingId="@Model[0].Invoicingid">Finalize</a>
        </div>
        
    </div>
</div>


<script>
    var display = false;
    toggleReceipts();
    function toggleReceipts(){
        if(display){
            document.getElementById("receipts").classList.remove("d-none");
            document.getElementById("receipts").classList.add("d-flex");
            display=false;
        }else{
            document.getElementById("receipts").classList.remove("d-flex");
            document.getElementById("receipts").classList.add("d-none");
            display = true;
        }
    }


    function updateFileName(input,day) {
        var action = "action_"+day;
        var picuture1 = "inputGroupFileAddon_"+day;
        var picuture = "inputGroupFileAddon1_"+day;
        var viewbtnid = "view_"+day;
        var viewButton = document.getElementById(viewbtnid);
        document.getElementById('Item_' + day).disabled = false;
        document.getElementById('Amount_' + day).disabled = false;

        var label = document.getElementById(picuture);

        viewButton.addEventListener('click', function () {
            window.open(URL.createObjectURL(input.files[0]), '_blank');
        });

        if (input.files.length > 0) {
            label.textContent = input.files[0].name;
            document.getElementById(picuture).classList.remove("d-none");
            document.getElementById(picuture1).classList.add("d-none");
            document.getElementById("save_" + day).classList.remove("d-none");
            document.getElementById("cancel_" + day).classList.remove("d-none");
            document.getElementById("edit_" + day).classList.add("d-none");
            document.getElementById("delete_" + day).classList.add("d-none");
            document.getElementById(action).classList.remove("d-none");

            
        } else {
            document.getElementById(action).classList.remove("d-flex");
            document.getElementById(picuture).classList.remove("d-flex");
            document.getElementById(action).classList.add("d-none");
            document.getElementById(picuture).classList.add("d-none");
            document.getElementById(picuture1).classList.remove("d-none");
            document.getElementById(picuture1).classList.add("d-flex");
        }
    }

    function SaveReciepts(timesheetid,invoicingid,date,day,actionType){
        var itemid = '#Item_' + day;
        var amountid = '#Amount_' + day;
        var imageid = '#imageInput_' + day;

        var formdata = new FormData();
        if(actionType != "edit"){
            formdata.append("BillDoc", $(imageid)[0].files[0]);
        }
        formdata.append("Timesheetid", timesheetid);
        formdata.append("Invoicingid", invoicingid);
        formdata.append("Date", date);
        formdata.append("Item", $(itemid).val());
        formdata.append("Amount", $(amountid).val());
        console.log(formdata);

        $.ajax({
            url: '/AdminProviders/SaveReciept',
            type: 'POST',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                document.getElementById('Item_' + day).disabled = true;
                document.getElementById('Amount_' + day).disabled = true;
                document.getElementById("save_" + day).classList.add("d-none");
                document.getElementById("edit_" + day).classList.remove("d-none");
                document.getElementById("delete_" + day).classList.remove("d-none");
                document.getElementById("cancel_" + day).classList.add("d-none");
                //loadPartialDashView('provider');
            },
            error: function () {
                console.error('Error loading partial view.');
            }
        });
    }

    function editReciept(day) {
        document.getElementById("save_" + day).classList.remove("d-none");
        document.getElementById("cancel_" + day).classList.remove("d-none");
        document.getElementById("edit_" + day).classList.add("d-none");
        document.getElementById("Item_" + day).disabled = false;
        document.getElementById("Amount_" + day).disabled = false;
    }

    function deleteReciept(timesheetid, day){

        $.ajax({
            url: '/AdminProviders/DeleteReciept',
            type: 'POST',
            data: {timesheetid:timesheetid},
            success: function (data) {
                document.getElementById("inputGroupFileAddon_" + day).classList.remove("d-none");
                document.getElementById("inputGroupFileAddon1_" + day).classList.add("d-none");
                document.getElementById('Item_' + day).value = null;
                document.getElementById('Amount_' + day).value = null;
                document.getElementById('Item_' + day).disabled = true;
                document.getElementById('Amount_' + day).disabled = true;
                document.getElementById("action_" + day).classList.add("d-none");
                //loadPartialDashView('provider');
            },
            error: function () {
                console.error('Error loading partial view.');
            }
        });
    }

    function cancelReciept(day){
        document.getElementById("inputGroupFileAddon_" + day).classList.remove("d-none");
        document.getElementById("inputGroupFileAddon1_" + day).classList.add("d-none");
        document.getElementById('Item_' + day).value = null;
        document.getElementById('Amount_' + day).value = null;
        document.getElementById('Item_' + day).disabled = true;
        document.getElementById('Amount_' + day).disabled = true;
        document.getElementById("action_" + day).classList.add("d-none");
    }
</script>



@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
 }
