@model hellodoc.DbEntity.ViewModels.InvoicingModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<Partial name="_Notification" />
<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex justify-content-between mt-4 mb-2">
            <h2> Invoicing </h2>
            <button onclick="loadPartialDashView('dashboard')" class="d-flex btn btn-outline-info bg-transparent  text-end text-info fs-5 text-decoration-none">
                <i class="bi bi-chevron-left"></i>Back
            </button>
        </div>
       
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-3 shadow-lg">

            <div class="d-sm-flex justify-content-between mt-3">
                <div class="d-grid m-1">
                    @{
                        if (Model.loginType == "admin")
                        {
                            <div class="col-5">

                                <select class="form-select h-100" aria-label="Default select example" id="physician" asp-for="selectedPhysician">
                                    <option selected disabled>Select Physician</option>

                                    @{
                                        foreach (var phy in Model.physicians)
                                        {
                                            <option value="@phy.Physicianid">Dr. @phy.Firstname @phy.Lastname</option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                    }

                    <div class="d-flex m-1">
                        <div class="m-1">
                            <input type="month" class="h-100" id="month-input" onchange="monthchangeinvoicing()" />
                        </div>
                        <div class="m-1 form-floating">
                            <select class="form-select h-100" aria-label="Default select example" asp-for="timeSlot" id="timeslot">
                                <option selected value="1" id="firsthalf">1'st Half</option>
                                <option value="2" id="secondhalf">2'nd Half</option>
                            </select>
                            <label for="timeslot">Search By TimePeriod</label>
                        </div>
                    </div>
                    
                </div>
                <div class="d-flex align-items-center">
                    <div class="d-flex justify-content-center justify-content-md-end mx-2">
                        <button class="btn btn-outline-info bg-transparent text-info mx-2 mt-2" onclick="GetProvidersView({actionType : 'finalizetimesheet',currentMonth : currentMonth, currentYear : currentYear,timeSlot : $('#timeslot').val(),physicianid : $('#physician').val() })">Finalize Timesheet</button>
                    </div>
                </div>
               
            </div>


            @{
                if(Model.loginType == "admin" && Model.invoicings.Count()>0)
                {
                    <div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block mt-4" id="searchrecordstable">
                        <table class="w-100">
                            <thead>
                                <tr>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody style="font-size:larger;font-weight:400;">
                               @{
                                    foreach (var a in Model.invoicings)
                                    {

                                        <tr class="m-2">
                                            <td class="text-black">@a.Fromdate</td>
                                            <td class="text-black">@a.Todate</td>
                                            <td class="text-black">pending</td>
                                            <td>
                                                <button class="btn btn-outline-info m-1">Approve</button>
                                                
                                            </td>
                                        </tr>
                                    }
                               }
                            </tbody>
                        </table>

                    </div>
                }
                else if(Model.loginType == "provider" && Model.timesheets.Count()>0)
                {

                }
                else
                {
                    <div>No Records Found</div>
                }
            }

            

        </div>

    </div>
</div>

<script>

    var currentDate = new Date();
    console.log(currentDate.getDate());
    var currentMonth = currentDate.getMonth() + 1;
    var currentYear = currentDate.getFullYear();

    var lastDayOfMonth = new Date(currentYear, currentMonth, 0).getDate();
    var firstHalfString = ("0" + currentMonth).slice(-2) + "/01/" + currentYear + " - " + ("0" + currentMonth).slice(-2) + "/" + ("0" + Math.floor(lastDayOfMonth / 2)).slice(-2) + "/" + currentYear;
    var secondHalfString = ("0" + currentMonth).slice(-2) + "/" + ("0" + (Math.floor(lastDayOfMonth / 2) + 1)).slice(-2) + "/" + currentYear + " - " + ("0" + currentMonth).slice(-2) + "/" + ("0" + lastDayOfMonth).slice(-2) + "/" + currentYear;
    
    var currentmonth = ("0" + (currentMonth)).slice(-2);
    document.getElementById("month-input").value = currentYear + "-" + currentmonth;
    document.getElementById("firsthalf").innerHTML = firstHalfString;
    document.getElementById("secondhalf").innerHTML = secondHalfString;

    var date = new Date();

    function monthchangeinvoicing() {
        var selectmonth = document.getElementById("month-input").value;
        var year = parseInt(selectmonth.split("-")[0]);
        var month = parseInt(selectmonth.split("-")[1]);
        currentDate.setMonth(month - 1);
        currentDate.setFullYear(year);

        var lastDayOfMonth = new Date(year, month, 0).getDate();
        var firstHalfString = ("0" + month).slice(-2) + "/01/" + year + " - " + ("0" + month).slice(-2) + "/" + ("0" + Math.floor(lastDayOfMonth / 2)).slice(-2) + "/" + year;
        var secondHalfString = ("0" + month).slice(-2) + "/" + ("0" + (Math.floor(lastDayOfMonth / 2) + 1)).slice(-2) + "/" + year + " - " + ("0" + month).slice(-2) + "/" + ("0" + lastDayOfMonth).slice(-2) + "/" + year;

        document.getElementById("firsthalf").innerHTML = firstHalfString;
        document.getElementById("secondhalf").innerHTML = secondHalfString;

        //var physician = document.getElementById('physician').value;
        //var timeslot = document.getElementById('timeslot').value;
        //GetProvidersView({ actionType: 'invoicing', physicianid: physician, timeSlot: timeslot, currentMonth: currentMonth, currentYear: currentYear });
    }

    $('#physician').on('keyup change', function () {
        var physician = document.getElementById('physician').value;
        var timeslot = document.getElementById('timeslot').value;
        GetProvidersView({ actionType: 'invoicing', physicianid: physician, timeSlot: timeslot, currentMonth: currentMonth, currentYear: currentYear });
    });

    $('#timeslot').on('keyup change', function () {
        var physician = document.getElementById('physician').value;
        var timeslot = document.getElementById('timeslot').value;
        GetProvidersView({ actionType: 'invoicing', physicianid: physician,timeSlot : timeslot,currentMonth : currentMonth,currentYear : currentYear });
    });

</script>

@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
    }