@model hellodoc.DbEntity.ViewModels.Shifts.MonthShiftModal

<div class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <table style="width:100%;z-index:5">
        <thead>
            <tr style="background-color: lightgray;">
                <th class="p-3">SUN</th>
                <th>MON</th>
                <th>TUE</th>
                <th>WED</th>
                <th>THU</th>
                <th>FRI</th>
                <th>SAT</th>
            </tr>
        </thead>
        <tbody style="font-size:larger;font-weight:400;" id="shifttable">
            @for (int i = 0; i < Model.daysLoop; i += 7)
            {
                <tr>
                    @for (int j = 0; j < 7; j++)
                    {
                        var dayNumber = i + j + 1 - Model.startDayIndex;
                         
                        <td>
                            @if (dayNumber > 0 && dayNumber <= Model.daysInMonth)
                            {
                                <div class="d-flex justify-content-center" style="background-color:lightpink;">@dayNumber</div>
                                {
                                    var count = 1;
                                    var list = Model.shiftDetailsmodals.Where(d => d.Shiftdate.Day == dayNumber);

                                    foreach (var item in list)
                                    {
                                        var moreshift = list.Count() - 4;
                                        var bgcolor = "";
                                        if (count < 5)
                                        {
                                            if (item.Status == 1)
                                            {
                                                bgcolor = "lightpink";
                                            }
                                            else if (item.Status == 2)
                                            {
                                                bgcolor = "lightgreen";
                                            }


                                            <div style="overflow-y:auto;">
                                                <button class="w-100 h-100 border-0" style="background-color:@bgcolor;" onclick="providersModal({actionType:'shiftdetails',shiftdetailsid : '@item.Shiftdetailid'})">
                                                    <p style="background-color:@bgcolor;" class="w-100"> @item.Starttime - @item.Endtime physician : @item.PhysicianName <br /> @item.regionname </p>
                                                </button>
                                            </div>
                                            count = count + 1;
                                            
                                        }
                                        if (count > 4 && moreshift > 0)
                                        {
                                            <div style="overflow-y:auto;">
                                                <button class="w-100 h-100 border-0" style="background-color:mediumpurple;" onclick="providersModal({actionType:'moreshifts',shiftdate:'@item.Shiftdate'})">
                                                    All Shifts(@moreshift)...
                                                </button>
                                            </div>
                                            count = count + 1;
                                            break;
                                        }
                                    }
                                    for (var k = count; k <= 5; k++)
                                    {
                                        <div></div>
                                    }
                                }
                            }
                            else
                            {
                                <div ></div>
                                <div ></div>
                                <div ></div>
                                <div ></div>
                                <div ></div>
                                <div ></div>
                            }
                        </td>
                    }
                </tr>
            }

            

        </tbody>
    </table>

</div>
<script>
    
</script>