@model hellodoc.DbEntity.ViewModels.ProviderProfileModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex justify-content-between mt-4 mb-2">
            @{
                if(ViewBag.loginType == "provider")
                {
                    <h2> My Profile</h2>
                }
                else
                {
                    <h2> Edit Physician Account</h2>
                }
                
                }
            
            <button onclick="loadPartialDashView('provider')" class="d-flex btn btn-outline-info bg-transparent  text-end text-info fs-5 text-decoration-none">
                <span class="material-icons pt-2">
                    chevron_left
                </span>
                <span class="p-1">Back</span>
            </button>

        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-4 shadow">

            @{
                if (ViewBag.loginType == "provider")
                {
                    <div class="d-flex justify-content-end m-2 mt-3 w-100">
                        <button class="btn btn-outline-info" onclick="ShowModal({ActionType:'RequestToAdmin'})">Request To Admin</button>
                    </div>
                }
            }

            <h4 class="mt-2">Account Information</h4>
            <form id="AspDetails" method="post" onsubmit="UpdateProvider('AspDetails','#AspDetails','@Model.physicianId','pedit1','pe1','pe2','pee1')">
                <div class="row mt-3">

                    <div class="form-floating mb-3  col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit1" id="floatingInput" asp-for="username" placeholder="Username" disabled>
                        <label for="floatingInput" class="mx-3">Username</label>
                    </div>
                    <div class="form-floating mb-3  col-md-6 col-lg-6">
                        <input type="text" class="form-control" id="resetPass" asp-for="password" placeholder="Password">
                        <label for="resetPass" class="mx-3">Password</label>
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    @{
                        if (ViewBag.loginType != "provider")
                        {
                            <div class="form-floating mb-3  col-md-6 col-lg-6">
                                <select class="form-select pedit1" aria-label="Default select example" asp-for="status" disabled>
                                    <option value="0">Active</option>
                                    <option value="1">InActive</option>
                                </select>
                            </div>
                            <div class="form-floating mb-3  col-md-6 col-lg-6">
                                <select class="form-select pedit1" aria-label="Default select example" asp-for="selectrole" disabled>
                                    @{
                                        foreach (var role in Model.roles)
                                        {
                                            <option value="@role.Roleid"> @role.Name </option>
                                        }
                                    }
                                </select>
                            </div>
                        }
                    }
                    

                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-info text-white mx-2 px-2" id="pee1" onclick="pedit('pedit1','pe1','pe2','pee1')">Edit</button>
                    <button type="submit" class="btn btn-info mx-3 p-2 px-3 mb-2" id="pe1" style="display:none;">Save</button>
                    <button type="reset" class="btn btn-outline-info mx-3 p-2 px-3 mb-2" id="pe2" style="display:none;" onclick="pcancel('pedit1','pe1','pe2','pee1')">Cancel</button>
                    <button type="button" class="btn btn-outline-info px-2" onclick="UpdateProvider('resetPassword','#AspDetails','@Model.physicianId')">Reset Password</button>
                </div>
            </form>


            <h4 class="mt-3">Physician  Information</h4>
            <form method="post" id="physician">
                <div class="row mt-3">
                    <div class="form-floating mb-3  col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="Firstname" placeholder="Firstname" disabled>
                        <label for="floatingInput" class="mx-3">First Name</label>
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="Lastname" placeholder="Lastname" disabled>
                        <label for="floatingInput" class="mx-3">Last Name</label>
                        <span asp-validation-for="Lastname" class="text-danger"> </span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="email" class="form-control pedit2" id="email123" asp-for="ProviderEmail" placeholder="Email" disabled>
                        <label for="email123" class="mx-3">Email</label>
                        <span asp-validation-for="ProviderEmail" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="Phone" placeholder="Phone Number" disabled>
                        <label for="floatingInput" class="mx-3">Phone Number</label>
                        <span asp-validation-for="Phone" class="text-danger"> </span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="MediacalLicense" placeholder="Mediacal License" disabled>
                        <label for="floatingInput" class="mx-3">MediacalLicense</label>
                        <span asp-validation-for="MediacalLicense" class="text-danger"> </span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit2" id="floatingInput" asp-for="NPI" placeholder="NPI" disabled>
                        <label for="floatingInput" class="mx-3">NPI</label>
                        <span asp-validation-for="NPI" class="text-danger"> </span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="email" class="form-control pedit2" id="floatingInput" asp-for="SynEmail" placeholder="ConfirmEmail" disabled>
                        <label for="floatingInput" class="mx-3">ConfirmEmail</label>
                        <span asp-validation-for="SynEmail" class="text-danger"></span>
                    </div>
                    <div class="row col-md-6">
                        @{
                            foreach (var item in Model.regions)
                            {
                                    <div class="form-check col mx-3">
                                        @{
                                        if(Model.regionList.Contains(item.Regionid)){
                                                    <input class="form-check-input regioncheck pedit2" type="checkbox" value="@item.Regionid" id="@item.Name" checked disabled>
                                        }
                                        else
                                      
  {
                                                    <input class="form-check-input regioncheck pedit2" type="checkbox" value="@item.Regionid" id="@item.Name" disabled>
                                        }
                                        }
                                        
                                        <label class="form-check-label" for="@item.Regionid">
                                            @item.Name
                                        </label>
                                    </div>
                            }
                        }
                    </div>

                </div>


                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-info text-white px-2" onclick="pedit('pedit2','pb1','pb2','pee2')" id="pee2">Edit</button>
                    <button type="button" class="btn btn-info mx-3 p-2 px-3 mb-2" id="pb1" onclick="UpdateProvider('physician','#physician','@Model.physicianId','pedit2','pb1','pb2','pee2')" style="display:none;">Save</button>
                    <button type="reset" class="btn btn-outline-info mx-3 p-2 px-3 mb-2" id="pb2" style="display:none;" onclick="pcancel('pedit2','pb1','pb2','pee2')">Cancel</button>
                </div>
            </form>


            <h4 class="mt-3">Mailing & Billing Information</h4>
            <form method="post" id="mailing">
                <div class="row mt-3">
                    <div class="form-floating mb-3  col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit3" id="floatingInput" asp-for="Address1" placeholder="Address1" disabled>
                        <label for="floatingInput" class="mx-3">Address1</label>
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit3" id="floatingInput" asp-for="Address2" placeholder="Address2" disabled>
                        <label for="floatingInput" class="mx-3">Address2</label>
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit3" id="floatingInput" asp-for="City" placeholder="City" disabled>
                        <label for="floatingInput" class="mx-3">City</label>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3  col-md-6 col-lg-6">
                        <select class="form-select AdminProfile2 pedit3" aria-label="Default select example" asp-for="State" disabled>
                            <option selected disabled>State</option>
                            @{
                                foreach (var item in Model.regions)
                                {
                                    <option value="@item.Regionid">@item.Name</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="number" class="form-control pedit3" id="floatingInput" asp-for="Zipcode" placeholder="ZipCode" disabled>
                        <label for="floatingInput" class="mx-3">Zip Code</label>
                        <span asp-validation-for="Zipcode" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit3" id="floatingInput" asp-for="MailingNumber" placeholder="Phone Number" disabled>
                        <label for="floatingInput" class="mx-3">Phone Number</label>
                        <span asp-validation-for="MailingNumber" class="text-danger"> </span>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-info text-white px-2" onclick="pedit('pedit3','pc1','pc2','pee3')" id="pee3">Edit</button>
                    <button type="button" class="btn btn-info mx-3 p-2 px-3 mb-2" id="pc1" onclick="UpdateProvider('mailing','#mailing','@Model.physicianId','pedit3','pc1','pc2','pee3')" style="display:none;">Save</button>
                    <button type="reset" class="btn btn-outline-info mx-3 p-2 px-3 mb-2" id="pc2" style="display:none;" onclick="pcancel('pedit3','pc1','pc2','pee3')">Cancel</button>
                </div>
            </form>

            <h4 class="mt-3">Provider Profile</h4>
            <form method="post" id="provider">
                <div class="row mt-3">
                    <div class="form-floating mb-3  col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit4" id="floatingInput" asp-for="BusinessName" placeholder="Business Name" disabled>
                        <label for="floatingInput" class="mx-3">Business Name</label>
                        <span asp-validation-for="BusinessName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6 col-lg-6">
                        <input type="text" class="form-control pedit4" id="floatingInput" asp-for="BusinessWebsite" placeholder="Business Website" disabled>
                        <label for="floatingInput" class="mx-3">Business Website</label>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-6">
                        <div class="d-flex upload-btn-wrapper">
                            <button class="rounded-0 btn btn-outline-secondary  pedit4 col-9" id="inputGroupFileAddon04" disabled>Select Photo</button>
                            <input type="file" id="imageInput" onchange="updateFileName(this)" class="pedit4" disabled />
                            <button type="button" class="btn btn-info text-white rounded-0 pedit4" disabled><i class="bi bi-cloud-arrow-up p-1"></i>Upload</button>
                        </div>
                       
                    </div>
                    <div class="d-flex mb-3 col-md-6 col-lg-6">
                        <div class="d-flex upload-btn-wrapper col-8">
                            <button class="rounded-0 btn btn-outline-secondary col-7 pedit4" id="inputGroupFileAddon03" disabled>Select Signature</button>
                            <input type="file" id="imageInput1" onchange="updateFileName1(this)" class="pedit4" disabled />
                            <button type="button" class="btn btn-info text-white rounded-0 pedit4" disabled><i class="bi bi-cloud-arrow-up p-1"></i>Upload</button>
                        </div>
                        <button type="button" onclick="providersModal({actionType : 'signature'})" class="mx-2 btn btn-info text-white pedit4" disabled><i class="bi bi-pencil p-1"></i>Create</button>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center mx-3 col-12 col-sm-5">
                            @{
                                if(Model.photoPath == "")
                                {
                                    <img class="m-3" id="imagePreview" src="#" height="100" width="100" alt="Preview">
                                }
                                else{
                                    <img src="./PhysicianDoc/@Model.photoPath" id="imagePreview" height="100" width="100" alt="select Image" />
                                }
                            }

                        </div>

                        <div class="d-flex justify-content-center mx-3 col-12 col-sm-5">
                            @{
                                var src = "./physician/"+Model.physicianId+"/"+Model.SignaturePath;

                                if (Model.SignaturePath == "")
                                {
                                    <img class="m-3" id="imagePreview" src="#" height="100" width="100" alt="Preview Signature">
                                }
                                else
                                {
                                    <img src="./@Model.SignaturePath" id="sig-image" height="100" width="100" alt="select Image" />
                                }
                            }

                        </div>

                        <textarea id="sig-dataUrl" class="form-control" rows="5" hidden>Data URL for your signature will go here!</textarea>
                        @*<img class="mx-2 col-5" height="100" width="100" id="sig-image" src=""/>*@
                    </div>
                    <textarea class="form-control mt-3 pedit4" placeholder="admin notes" id="floatingTextarea2" rows="5" asp-for="AdminNotes" disabled></textarea>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-info text-white px-2" onclick="pedit('pedit4','pd1','pd2','pee4')" id="pee4">Edit</button>
                    <button type="button" class="btn btn-info mx-3 p-2 px-3 mb-2" id="pd1" onclick="UpdateProvider('providerProfile','#provider','@Model.physicianId','pedit4','pd1','pd2','pee4')" style="display:none;">Save</button>
                    <button type="reset" class="btn btn-outline-info mx-3 p-2 px-3 mb-2" id="pd2" style="display:none;" onclick="pcancel('pedit4','pd1','pd2','pee4')">Cancel</button>
                </div>
            </form>

            <hr />

            <h4 class="mt-3">Onboarding</h4>

            <form method="post" id="onboarding">

                <div class="m-2 d-flex">
                    @{
                        if (Model.IndependentContractorManagementPath != "")
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck1" checked />
                                <h6 class="m-2 col-4">Independent Contractor Agreement</h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="IndependentContractorManagement" id="IndependentContractorManagement" onchange="DocSelectCheckbox('docCheck1')" />
                                </div>
                                <a class="btn btn-info text-white mx-1" target="_blank" href="./PhysicianDoc/@Model.IndependentContractorManagementPath">View</a>
                        }
                        else
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck1" />
                                <h6 class="m-2 col-4">Independent Contractor Agreement</h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="IndependentContractorManagement" id="IndependentContractorManagement" onchange="DocSelectCheckbox('docCheck1')" />
                                </div>
                                <button type="button" class="viewButton btn btn-info text-white mx-2" style="display: none;">View</button>
                        }
                    }
                    
                    
                </div>
                <div class="d-flex m-2">
                    @{
                        if (Model.BackgroungCheckPath != "")
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck2" checked />
                                <h6 class="m-2 col-4">Background Check</h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="BackgroungCheck" id="BackgroungCheck" onchange="DocSelectCheckbox('docCheck2')" />
                                </div>
                                <a class="btn btn-info text-white mx-1" target="_blank" href="./PhysicianDoc/@Model.BackgroungCheckPath">View</a>
                        }
                        else
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck2" />
                                <h6 class="m-2 col-4">Background Check</h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="BackgroungCheck" id="BackgroungCheck" onchange="DocSelectCheckbox('docCheck2')" />
                                </div>
                            <button type="button" class="viewButton btn btn-info text-white mx-2" style="display: none;">View</button>
                        }
                    }
                </div>
                <div class="d-flex m-2">
                    @{
                        if (Model.HIPAAPath != "")
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck3" checked />
                                <h6 class="m-2 col-4">HIPAA Complieance</h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="HIPAA" id="HIPAA" onchange="DocSelectCheckbox('docCheck3')" />
                                </div>
                                <a class="btn btn-info text-white mx-1" target="_blank" href="./PhysicianDoc/@Model.HIPAAPath">View</a>
                        }
                        else
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck3"/>
                                <h6 class="m-2 col-4">HIPAA</h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="HIPAA" id="HIPAA" onchange="DocSelectCheckbox('docCheck3')" />
                                </div>
                            <button type="button" class="viewButton btn btn-info text-white mx-2" style="display: none;">View</button>
                        }
                    }
                </div>

                <div class="d-flex m-2">
                    @{
                        if (Model.NondisclosureAggrementPath != "")
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck4" checked />
                                <h6 class="m-2 col-4">Non disclosure Aggrement</h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="NondisclosureAggrement" id="NondisclosureAggrement" onchange="DocSelectCheckbox('docCheck4')" />
                                </div>
                                <a class="btn btn-info text-white mx-1" target="_blank" href="./PhysicianDoc/@Model.NondisclosureAggrementPath">View</a>
                        }
                        else
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck4" />
                                <h6 class="m-2 col-4">Non disclosure Aggrement </h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="NondisclosureAggrement" id="NondisclosureAggrement" onchange="DocSelectCheckbox('docCheck4')" />
                                </div>
                            <button type="button" class="viewButton btn btn-info text-white mx-2" style="display: none;">View</button>
                        }
                    }
                </div>

                <div class="d-flex m-2">
                    @{
                        if (Model.LicensePath != "" || Model.LicensePath != null)
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck5" checked />
                                <h6 class="m-2 col-4">License Document</h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="License" id="License" onchange="DocSelectCheckbox('docCheck5')" />
                                </div>
                                <a class="btn btn-info text-white mx-1" target="_blank" href="./PhysicianDoc/@Model.LicensePath">View</a>
                        }
                        else
                        {
                                <input type="checkbox" class="custom-check bg-info me-3" id="docCheck5" />
                                <h6 class="m-2 col-4">License Document </h6>
                                <div class="upload-btn-wrapper">
                                    <button class="btn btn-info text-white mx-1">Upload</button>
                                <input type="file" class="documentInput" asp-for="License" id="License" onchange="DocSelectCheckbox('docCheck5')" />
                                </div>
                            <button type="button" class="viewButton btn btn-info text-white mx-2" style="display: none;">View</button>
                        }
                    }
                </div>

            </form>

            <hr />
            <div class="d-flex justify-content-end m-1">
                <button type="button" class="btn btn-info text-white mx-2" onclick="UpdateProvider('onboarding','#onboarding','@Model.physicianId')">Save</button>
                <a class="btn btn-danger text-white mx-2" asp-action="delete_physician" asp-route-physicianid="@Model.physicianId" >Delete Account</a>
            </div>

        </div>
    </div>

</div>

<script>
    var signSelect = "";
    const imageInput = document.getElementById('imageInput');
    const imagePreview = document.getElementById('imagePreview');

    imageInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });

    const imageInput1 = document.getElementById('imageInput1');
    const imagePreview1 = document.getElementById('sig-image');

    imageInput1.addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview1.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
        signSelect = "photo";
    });

  function updateFileName(input) {
    var label = document.getElementById('inputGroupFileAddon04');
    if (input.files.length > 0) {
      label.textContent = input.files[0].name;
    } else {
      label.textContent = 'No file chosen';
    }
  }
    function updateFileName1(input) {
        var label = document.getElementById('inputGroupFileAddon03');
        if (input.files.length > 0) {
            label.textContent = input.files[0].name;
        } else {
            label.textContent = 'No file chosen';
        }
    }

    //document.querySelectorAll('.documentInput').forEach(function (input, index) {
    //    input.addEventListener('change', function (event) {
    //        const file = event.target.files[0];
    //        if (file) {
    //            const viewButton = document.querySelectorAll('.viewButton')[index];
    //            viewButton.style.display = 'block';
    //            viewButton.addEventListener('click', function () {
    //                window.open(URL.createObjectURL(file), '_blank');
    //            });
    //        }
    //    });

    function pedit(classname,save,cancel,edit) {

        document.getElementById(save).style.display = 'block';
        document.getElementById(cancel).style.display = 'block';
        document.getElementById(edit).style.display = 'none';
        var inputs = document.getElementsByClassName(classname);

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = false;
        }

    }

    function pcancel(classname, save, cancel, edit) {
        document.getElementById(save).style.display = 'none';
        document.getElementById(cancel).style.display = 'none';
        document.getElementById(edit).style.display = 'block';

        var inputs = document.getElementsByClassName(classname);

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
        }
    }


    function UpdateProvider(updateType, formId, physicianid, classname, save, cancel, edit) {

        event.preventDefault();
        var formdata = [];
        var formdata = new FormData($(formId)[0]);
        formdata.append("updateType", updateType);
        formdata.append("physicianId", physicianid);

        switch (updateType) {
            case "physician":
                var regionlist = [];
                var checkboxes = document.querySelectorAll(".regioncheck");

                checkboxes.forEach(function (checkbox) {
                    if (checkbox.checked) {
                        regionlist.push(checkbox.value);
                    }
                });
                formdata.append("selectedRegion", JSON.stringify(regionlist));
                break;
            case "providerProfile":
                formdata.append("photo", $('#imageInput')[0].files[0]);
                if(signSelect == "canvas"){
                    var canvas = document.getElementById("sig-canvas");
                    var dataUrl = canvas.toDataURL();
                    formdata.append("SignaturePath", dataUrl);
                }else if(signSelect == "photo"){
                    formdata.append("Signature", $('#imageInput1')[0].files[0]);
                }
                
                break;

            case "onboarding":
                formdata.append("IndependentContractorManagement", $('#IndependentContractorManagement')[0].files[0]);
                formdata.append("BackgroungCheck", $('#BackgroungCheck')[0].files[0]);
                formdata.append("HIPAA", $('#HIPAA')[0].files[0]);
                formdata.append("NondisclosureAggrement", $('#NondisclosureAggrement')[0].files[0]);
                formdata.append("License", $('#License')[0].files[0]);
                break;
            default:
                break;
        }

       

        if ($(formId).valid()) {
             console.log(formdata); 

            $.ajax({
                url: '/AdminProviders/UpdateProvider',
                type: 'POST',
                data: formdata,
                processData: false,
                contentType: false,
                success: function (data) {
                    pcancel(classname, save, cancel, edit);
                    toastr.success(updateType + " saveChanges Successfully");
                   // loadProviderView('edit_physician', physicianid)
                },
                error: function () {
                    console.error('Error loading partial view.');
                }
            });
        }
        
    }

    function DocSelectCheckbox(id) {
        document.getElementById(id).checked = true;
    }

</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

