@model hellodoc.DbEntity.ViewModels.DashboardLists.DashboardListsModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<Partial name="_Notification" />
<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex justify-content-between mt-4 mb-2">
            <h2> Providers Information </h2>
        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-3 shadow-lg">

        <div class="d-sm-flex justify-content-between mt-3">
            <div class="col-12 col-sm-6 col-md-3">
                    <select class="form-select" aria-label="Default select example" asp-for="regionselect" id="region">
                    <option selected>All Region</option>
                    @{
                        foreach (var a in Model.regions)
                        {
                            <option value="@a.Regionid">@a.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="d-flex justify-content-center justify-content-md-end mx-2">
                    <button class="btn btn-info text-white mx-2" style="display:none" id="ProvidersSave" onclick="saveStopNotification()">Save</button>
                    <button class="btn btn-info text-white" onclick="GetProvidersView({actionType : 'createProvider'})">Create Provider Account</button>
            </div>
        </div>

            <div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block mt-4" id="searchrecordstable">
                <table class="w-100">
                    <thead>
                        <tr>
                            <th>Stop Notification</th>
                            <th>Provider Name</th>
                            <th>Role</th>
                            <th>On Call Status</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:larger;font-weight:400;">
                        @{
                            foreach (var a in Model.providersTableModal)
                            {
                                
                                <tr class="m-2">
                                    <td class="text-black"><input type="checkbox" class="custom-check providerscheck bg-info" value="@a.physicianid" checked="@a.stopnotification" /> </td>
                                    <td class="text-black">@a.name</td>
                                    <td class="text-black">@a.role</td>
                                    <td class="text-black">@a.status</td>
                                    <td class="text-black">@a.status</td>
                                    <td>
                                        <button class="btn btn-outline-info m-1" onclick="ShowModal({ActionType:'ContactProvider',physicianid:@a.physicianid})">Contact</button>
                                        <button class="btn btn-outline-info m-1" onclick="loadProviderView('edit_physician','@a.physicianid')">Edit</button>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>

            <div class="d-block d-md-none mt-4">
                <div class="accordion" id="accordionExample">

                    @{
                        foreach (var a in Model.providersTableModal)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed  d-grid" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@a.physicianid" aria-expanded="true" aria-controls="collapse_@a.physicianid">
                                        <div class="d-grid w-100 m-2">
                                            <div class="m-2"><input type="checkbox" class="custom-check providerscheck mx-2 bg-info" value="@a.physicianid" checked="@a.stopnotification" /> <div class="m-1 fs-6 text-black">@a.name</div></div>
                                            <div class="d-flex m-1">On Call Status : <div class="fs-6 px-2"> @a.status </div> </div>
                                        </div>
                                    </button>

                                </h2>

                                <div id="collapse_@a.physicianid" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="background-color:#d7ffffde;">
                                    <div class="accordion-body">

                                        <div class="d-grid w-100 m-2">
                                            <div class="d-flex"> <i class="bi bi-person-circle text-info"></i>  Role : <div class="fs-6 px-2"> @a.role </div> </div>
                                            <div class="d-flex"> <i class="bi bi-check2-circle text-info pe-2 mt-1"></i> Status : <div class="fs-6 px-2"> @a.status </div> </div>
                                        </div>
                                        <div class="d-flex justify-content-end w-100 m-2">
                                            <button class="btn btn-outline-info mx-2" onclick="ShowModal({ActionType:'ContactProvider',physicianid:@a.physicianid})">Contact</button>
                                            <button class="btn btn-outline-info mx-2" onclick="loadProviderView('edit_physician','@a.physicianid')">Edit</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>

            @{
                if(Model.providersTableModal.Count() <= 0)
                {
                    <div class="d-flex justify-content-center mb-2">
                        <p class="fs-5">No Records Found</p>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-between m-2">
                        <div>
                            @Model.entries
                        </div>
                        <div>
                            @{
                                if (Model.pageNumber > 1)
                                {
                                    var previousPage = Model.pageNumber - 1;
                                    <button class="btn btn-outline-secondary" onclick="GetProvidersView({actionType:'provider',pageNumber:'@previousPage'})"><i class="bi bi-chevron-left"></i></button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
                                }
                            }

                            <button class="btn btn-outline-info">@Model.pageNumber</button>
                            @{
                                if (Model.morePages == true)
                                {
                                    var nextpage = Model.pageNumber + 1;
                                    <button class="btn btn-outline-secondary" onclick="GetProvidersView({actionType:'provider',pageNumber:'@nextpage'})"><i class="bi bi-chevron-right"></i></button>
                                }
                                else
                                {
                                    <button class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
                                }
                            }
                        </div>
                    </div>
                }
            }

            

        </div>
        

    </div>
</div>

<script>

    $("#region").change(function () {
        regionid = this.value;
        GetProvidersView({actionType : 'provider',pageNumber : '1',regionid : regionid});
    });


    var selectedCheck = [];
    var checkboxes1 = document.querySelectorAll(".providerscheck");

    checkboxes1.forEach(function (checkbox) {
        if (checkbox.checked) {
            selectedCheck.push(checkbox.value);
        }
    });

    $(".providerscheck").change(function () {
        var selectedCheck1 = [];
        var checkboxes11 = document.querySelectorAll(".providerscheck");

        checkboxes11.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedCheck1.push(checkbox.value);
            }
        });

        if (selectedCheck1.toString() != selectedCheck.toString()) {
            document.getElementById("ProvidersSave").style.display = "block";
        } else {
            document.getElementById("ProvidersSave").style.display = "none";
        }
    });
</script>

@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
    }