@model hellodoc.DbEntity.ViewModels.DashboardLists.DashboardListsModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


    <div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block mt-3" id="searchrecordstable">
        <table style="width:100%;z-index:5">
            <thead>
                <tr>
                    <th>Profession</th>
                    <th>Business Name</th>
                    <th>Email</th>
                    <th>Fax Number</th>
                    <th>Phone Number</th>
                    <th>Business Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody style="font-size:larger;font-weight:400;">
                @{
                    foreach (var a in Model.healthProfessionals)
                    {

                        <tr class="m-2">
                            <td>@a.ProfessionName</td>
                            <td>@a.Vendorname</td>
                            <td>@a.BusinessEmail</td>
                            <td>@a.Faxnumber</td>
                            <td>@a.Phonenumber</td>
                            <td>@a.Businesscontact</td>
                            <td class="d-flex">
                            <button class="btn btn-outline-info mx-1" onclick="partners({ actionType: 'edit_business', venorid: '@a.Vendorid'})">Edit</button>
                            <a class="btn btn-outline-info mx-1" asp-action="DBOperations" asp-route-Vendorid="@a.Vendorid" asp-route-actionType="delete_business">Delete</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>

<div class="d-block d-md-none">
    <div class="accordion" id="accordionExample">
        @{
            foreach (var a in Model.healthProfessionals)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed  d-grid" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@a.Vendorid" aria-expanded="true" aria-controls="collapse_@a.Vendorid">
                            @a.Vendorname
                        </button>
                    </h2>

                    <div id="collapse_@a.Vendorid" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="background-color:#d7ffffde;">
                        <div class="accordion-body">

                            <div class="d-grid w-100 m-2">
                                <div class="d-flex mt-1"> <i class="bi bi-envelope-at rounded-pill btn btn-outline-info text-black-50 px-2"></i>  Email : <div class="fs-6 px-2"> @a.BusinessEmail </div> </div>
                                <div class="d-flex mt-1"> <i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Fax : <div class="fs-6 px-2"> @a.Faxnumber </div> </div>
                                <div class="d-flex mt-1"> <i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i>  Phone Number : <div class="fs-6 px-2"> @a.Phonenumber </div> </div>
                                <div class="d-flex mt-1"> <i class="bi bi-envelope-at rounded-pill btn btn-outline-info text-black-50 px-2"></i>   Business Contact : <div class="fs-6 px-2"> @a.Businesscontact </div> </div>
                            </div>
                            <div class="d-flex justify-content-end w-100 m-2">
                                <button class="btn btn-outline-info mx-1" onclick="partners({ actionType: 'edit_business', venorid: '@a.Vendorid'})">Edit</button>
                                <button class="btn btn-outline-info mx-1" onclick="bussinessActions('delete_business','@a.Vendorid')">Delete</button>
                            </div>

                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>

    <div class="d-flex justify-content-between m-2">
        <div>
            @Model.entries
        </div>
        <div>
            @{
                if (Model.pageNumber > 1)
                {
                    var previousPage = Model.pageNumber - 1;
                <button class="btn btn-outline-secondary" onclick="partners({ actionType: 'partnerstable', pageNumber: '@previousPage'});"><i class="bi bi-chevron-left"></i></button>
                }
                else
                {
                    <button class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
                }
            }

            <button class="btn btn-outline-info">@Model.pageNumber</button>
            @{
                if (Model.morePages == true)
                {
                    var nextpage = Model.pageNumber + 1;
                <button class="btn btn-outline-secondary" onclick="partners({ actionType: 'partnerstable', pageNumber: '@nextpage'});"><i class="bi bi-chevron-right"></i></button>
                }
                else
                {
                    <button class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
                }
            }
        </div>
    </div>



@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
 }
