@model hellodoc.DbEntity.ViewModels.AdminAccess.AdminAccessModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex justify-content-between mt-4 mb-2">
            <h2>User Access</h2>
        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-3 shadow-lg">

            <div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block" id="accessTable">
                <table class="mt-3 w-100">
                    <thead>
                        <tr class="bgcolor1">
                            <th class="p-3 ">Account Type</th>
                            <th class="p-3 ">Account POC</th>
                            <th class="p-3 ">Phone</th>
                            <th class="p-3 ">Status</th>
                            <th class="p-3 ">Open Requests</th>
                            <th class="p-3 ">Actions</th>

                        </tr>
                    </thead>
                    <tbody style="font-size:larger;font-weight:400;" id="newtable">
                        @{
                            foreach (var a in Model.accessTables)
                            {
                                <tr class=" m-2 border-bottom">
                                    <td class="text-black p-3 col-5">@a.accountType1</td>
                                    <td class="text-black p-3 col-6">@a.accountPOC</td>
                                    <td class="text-black p-3 col-6">@a.phoneNumber</td>
                                    <td class="text-black p-3 col-6">Active</td>
                                    <td class="text-black p-3 col-6">0</td>
                                    <td class="p-3 d-flex col-1">
                                        <button class="btn btn-outline-info mx-2">Edit</button>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>

            <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                <div class="accordion" id="accordionExample">

                    @{
                        foreach (var a in Model.accessTables)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed  d-grid" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@a.aspid" aria-expanded="true" aria-controls="collapse_@a.aspid">
                                        <div class="m-2">
                                            <div>@a.accessName</div>
                                        </div>
                                        <div class="m-2">
                                            <div> Account Type : @a.accountType</div>
                                        </div>

                                    </button>


                                </h2>

                                <div id="collapse_@a.aspid" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="background-color:#d7ffffde;">
                                    <div class="accordion-body">

                                        <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Phone :<b> @a.phoneNumber </b></div>
                                        <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Status :<b> @a.status </b></div>
                                        <div class="mb-2"><i class="bi bi-envelope-at rounded-pill btn btn-outline-info text-black-50 px-2"></i> Open Request :<b> @a.openRequest </b></div>
                                        <div class="row">
                                            <button type="button" class="btn btn-outline-info">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>


            <div class="d-flex justify-content-between m-2">
                <div>
                    @Model.entries
                </div>
                <div>
                    @{
                        if (Model.pageNumber > 1)
                        {
                            var previousPage = Model.pageNumber - 1;
                            <button class="btn btn-outline-secondary" onclick="GetAccessView({actionType : 'userAccess',pageNumber :'@previousPage'})"><i class="bi bi-chevron-left"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
                        }
                    }

                    <button class="btn btn-outline-info">@Model.pageNumber</button>
                    @{
                        if (Model.morePages == true)
                        {
                            var nextpage = Model.pageNumber + 1;
                            <button class="btn btn-outline-secondary" onclick="GetAccessView({actionType : 'userAccess',pageNumber :'@nextpage'})"><i class="bi bi-chevron-right"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
                        }
                    }
                </div>
            </div>

        </div>

    </div>
</div>



@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
    }