@model hellodoc.DbEntity.ViewModels.RequestCountByStatus
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<ul class="nav pt-3" id="myTabs">
    <li class="nav-item col-4 col-md-2  admin-btn ad-btn ad-btn1 ">
        <a class="nav-link p-2 m-2 w-100" data-bs-toggle="pill" href="#new" >
            <div class="d-flex"><i class="bi bi-person-plus pe-2 mt-1 d-none d-sm-block"></i><h5>NEW</h5></div>
            <h3 style="font-weight:700">@Model.NewCount</h3>
        </a>
    </li>
    <li class="nav-item col-4 col-md-2 admin-btn ad-btn ad-btn2">
        <a class="nav-link p-2 m-2 w-100" data-bs-toggle="pill" href="#pending" >
            <div>
                <div class="d-flex"><i class="bi bi-person-workspace pe-2 mt-1 d-none d-sm-block"></i><h5>PENDING</h5></div>
                <h3 style="font-weight:700">@Model.PendingCount</h3>
            </div>
        </a>
    </li>
    <li class="nav-item col-4  col-md-2 admin-btn ad-btn ad-btn3">
        <a class="nav-link p-2 m-2 w-100" data-bs-toggle="pill" href="#active" >
            <div>
                <div class="d-flex"><i class="bi bi-check2-circle pe-2 mt-1 d-none d-sm-block"></i><h5>ACTIVE</h5></div>
                <h3 style="font-weight:700">@Model.ActiveCount</h3>
            </div>
        </a>
    </li>
    <li class="nav-item col-4 col-md-2 admin-btn ad-btn ad-btn4">
        <a class="nav-link p-2 m-2 w-100" data-bs-toggle="pill" href="#conclude">
            <div>
                <div class="d-flex"><i class="bi bi-clock pe-2 mt-1 d-none d-sm-block"></i><h5>CONCLUDE</h5></div>
                <h3 style="font-weight:700">@Model.ConcludeCount</h3>
            </div>
        </a>
    </li>
    <li class="nav-item col-4  col-md-2 admin-btn ad-btn ad-btn5">
        <a class="nav-link p-2 m-2 w-100" data-bs-toggle="pill" href="#toclose" >
            <div>
                <div class="d-flex"><i class="bi bi-person-x pe-2 mt-1 d-none d-sm-block"></i><h5>TO CLOSE</h5></div>
                <h3 style="font-weight:700">@Model.TocloseCount</h3>
            </div>
        </a>
    </li>
    <li class="nav-item col-4 col-sm-4 col-md-2 admin-btn ad-btn  ad-btn6">
        <a class="nav-link p-2 m-2 w-100" data-bs-toggle="pill" href="#unpaid">
            <div>
                <div class="d-flex"><i class="bi bi-coin pe-2 mt-1 d-none d-sm-block"></i><h5>UNPAID</h5></div>
                <h3 style="font-weight:700">@Model.UnpaidCount</h3>
            </div>
        </a>
    </li>
</ul>
<form method="post" asp-action="exportToExcel" asp-route-exportType="DashboardFiltered">
<div class="d-flex justify-content-between mt-4" id="bgcolor">
    <h3>Patients<span id="state" class="fs-4" style="color:darkslateblue"></span></h3>
    <div>
        <button type="button" class="btn btn-info text-white" onclick="ShowModal({ActionType:'SendLink'})"><i class="bi bi-send px-1"></i><span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">send link</span></button>
        <button type="button" class="btn btn-info text-white" onclick="loadActionView({ActionType:'CreateRequest'})"><i class="bi bi-pencil-square px-1 "></i><span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">create requests</span></button>
        <button type="submit" class="btn btn-info text-white" ><i class="bi bi-share-fill px-1"></i><span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">export</span></button>
        <a asp-action="export" asp-controller="AdminDash" class="btn btn-info text-white"><i class="bi bi-share-fill px-1"></i><span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">export all</span></a>
        <button type="button" class="btn btn-info text-white" onclick="ShowModal({ActionType:'RequestDTYSupport'})"><i class="bi bi-file-person px-1"></i><span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">Request DTY support</span></button>
    </div>
</div>

<div class="d-flex justify-content-between p-3 mx-1 mt-2  bgcolor row">
    
    <div class="d-flex  col-12 col-sm-12 col-md-4">
        <input class="form-control me-2" type="search" placeholder="Search" asp-for="search" aria-label="Search" id="customSearch">
        <select class="form-select" aria-label="Default select example" id="region123" asp-for="regionid">
            <option value="0" selected>All Region</option>
            @{
                foreach (var a in Model.regions)
                {
                    <option value="@a.Regionid">@a.Name</option>
                }
            }
        </select>
    </div>
    <div class="d-flex justify-content-md-end col-12 col-sm-12 col-md-6 mt-3 justify-content-start ">
        <button type="reset" onclick="loadPartialView(localStorage.getItem('StatusTab'),'1')" class="btn btn-outline-dark d-none d-sm-inline"> All</button>
        <div onclick="loadPartialView('','1',$('#customSearch').val(),$('#region123').val(),'2')" class="m-2 d-grid d-sm-grid d-sm-flex"><div class="colored-dot bg-success m-1"></div><div>Patients</div></div>
        <div onclick="loadPartialView('','1',$('#customSearch').val(),$('#region123').val(),'3')" class="m-2 d-grid d-sm-grid d-sm-flex"><div class="colored-dot bg-warning m-1"></div><div>Family_friend</div></div>
        <div onclick="loadPartialView('','1',$('#customSearch').val(),$('#region123').val(),'1')" class="m-2 d-grid d-sm-grid d-sm-flex"><div class="colored-dot bg-danger m-1 "></div><div>Business</div></div>
        <div onclick="loadPartialView('','1',$('#customSearch').val(),$('#region123').val(),'4')" class="m-2 d-grid d-sm-grid d-sm-flex"><div class="colored-dot bg-primary m-1"></div><div>Concierge</div></div>
        <div onclick="loadPartialView('','1',$('#customSearch').val(),$('#region123').val(),'5')" class="m-2 d-grid d-sm-grid d-sm-flex"><div class="colored-dot m-1" style="background-color:purple;"></div><div>Vip</div></div>
    </div>
   
</div>
</form>
<div id="tabledata"></div>

<div id="chatcanvas"></div>


<script>
    var tab = "new";

    $(document).ready(function () {
        $('#myTabs a').on('shown.bs.tab', function (e) {
            var targetTab = $(e.target).attr('href').substring(1);
            tab = targetTab;
            loadPartialView(targetTab,1);
        });
        if (localStorage.getItem("StatusTab") != null) {
            loadPartialView(localStorage.getItem("StatusTab"), true);
        } else {
            loadPartialView("new");
        }

        $('#customSearch').on('keyup change', function () {
            var search = document.getElementById('customSearch').value;
            var regionid = document.getElementById('region123').value;
            loadPartialView(tab, '1', search, regionid);
        });

        $('#region123').on('keyup change', function () {
            var search = document.getElementById('customSearch').value;
            var regionid = document.getElementById('region123').value;
            loadPartialView(tab, '1', search, regionid);
        });

    });


    function OpenMessageCanvas(requestid, physicianid, recivertype) {
       
        if (physicianid == null || physicianid == 0) {
            toastr.info("First Assign A Physician")
        } 
        else {
            $.ajax({
                url: '/AdminDash/GetChatView',
                type: 'GET',
                data: { requestid: requestid, physicianid: physicianid, recivertype: recivertype },
                success: function (data) {
                    $('#chatcanvas').html(data);

                    var myOffcanvas = document.getElementById('canvas');
                    var bsOffcanvas = new bootstrap.Offcanvas(myOffcanvas);
                    bsOffcanvas.show();

                    var messagesList = document.getElementById("messagesList");
                    // Scroll to the bottom of the message list
                    messagesList.scrollTop = messagesList.scrollHeight;

                },
                error: function () {
                    console.error('Error loading partial view.');
                }
            });
        }
        
        
    }

</script>
