@model hellodoc.DbEntity.ViewModels.DashboardLists.DashboardListsModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex justify-content-between mt-4 mb-2">
            <h2> Providers Information </h2>
        </div>
        <div class="d-grid gap-2 col-12 col-sm-12 col-md-10 col-lg-8 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-3 shadow-lg">

        <div class="d-flex justify-content-between mt-3">
            <div class="col-3">
                <select class="form-select" aria-label="Default select example" onchange="fetchRegion()" id="region">
                    <option selected>All Region</option>
                    @*@{
                        foreach (var a in Model.regions)
                        {
                            <option value="@a.Regionid">@a.Name</option>
                        }
                    }*@
                </select>
            </div>
            <div class="d-flex">
                    <button class="btn btn-info text-white mx-2" style="display:none" id="ProvidersSave" onclick="saveStopNotification()">Save</button>
                <button class="btn btn-info text-white">Create Provider Account</button>
            </div>
        </div>

            <div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block">
                <table id="providerss" class="table" style="width:100%;z-index:5">
                    <thead>
                        <tr>
                            <th>Stop Notification</th>
                            <th>Provider Name</th>
                            <th>Role</th>
                            <th>On Call Status</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:larger;font-weight:400;" id="newtable">
                        @{
                            foreach (var a in Model.providersTableModal)
                            {
                                
                                <tr class=" m-2">
                                    <td class="text-black"><input type="checkbox" class="custom-check providerscheck bg-info" value="@a.physicianid" checked="@a.stopnotification" /> </td>
                                    <td class="text-black">@a.name</td>
                                    <td class="text-black">@a.role</td>
                                    <td class="text-black">@a.status</td>
                                    <td class="text-black">@a.status</td>
                                    <td>
                                        <button class="btn btn-outline-info" onclick="ShowModal({ActionType:'ContactProvider',physicianid:@a.physicianid})">Contact</button>
                                        <button class="btn btn-outline-info" onclick="loadProviderView('edit_physician','@a.physicianid')">Edit</button>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>

@*
            <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                <div class="accordion" id="accordionExample">

                    @{
                        foreach (var a in Model.adminDashModels)
                        {
                            var reqcolor = "";
                            var text = "";

                            if (a.Requesttypeid == 1)
                            {
                                reqcolor = "bg-danger";
                                text = "Business";
                            }
                            else if (a.Requesttypeid == 2)
                            {
                                reqcolor = "bg-success";
                                text = "Patient";
                            }
                            else if (a.Requesttypeid == 3)
                            {
                                reqcolor = "bg-warning";
                                text = "Family/Friend";
                            }
                            else if (a.Requesttypeid == 4)
                            {
                                reqcolor = "bg-primary";
                                text = "Concierge";
                            }
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed  d-grid" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@a.Requestid" aria-expanded="true" aria-controls="collapse_@a.Requestid">
                                        <div class="d-flex justify-content-between w-100 m-2">
                                            <div>@a.PatientName</div>
                                            <div class="d-flex">@text<div class="colored-dot @reqcolor m-1 mx-2"></div> </div>
                                        </div>
                                        <div class="d-flex justify-content-between w-100 m-2">
                                            <div>@a.Address</div>
                                            <a class="btn btn-outline-info rounded-5">Map Location</a>
                                        </div>
                                        <div><i class="bi bi-clock text-info px-2"></i> Wait time :<b> @a.Createddate </b></div>

                                    </button>

                                </h2>

                                <div id="collapse_@a.Requestid" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="background-color:#d7ffffde;">
                                    <div class="d-flex justify-content-end" style="top:0;"><button class="btn bg-light rounded-5 px-3" style="color:mediumpurple;border:2px solid mediumpurple;position:relative;top:-18px;z-index:10;">View Case</button></div>
                                    <div class="accordion-body">

                                        <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Date Of Birth :<b> @a.Createddate </b></div>
                                        <div class="mb-2"><i class="bi bi-envelope-at rounded-pill btn btn-outline-info text-black-50 px-2"></i> Email :<b> @a.Email </b></div>
                                        <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> @text :<b> @a.Phonenumber_P </b></div>
                                        <div class="mb-2"><i class="bi bi-person-circle rounded-pill btn btn-outline-info text-black-50 px-2"></i> Requestor :<b> @a.RequestorName </b></div>
                                        <div class="row">
                                            <button class="btn text-white rounded-5 col-5 m-2 mx-3" style="background-color:mediumpurple;">Assign Case</button>
                                            <button type="button" class="btn btn-danger rounded-5 col-5 m-2 mx-3 " onclick="ShowModal('@a.Requestid','@a.PatientName','CancelCase')">
                                                Cancel Case
                                            </button>
                                            <button class="btn btn-success rounded-5 col-5 m-2 mx-3">View Notes</button>
                                            <button class="btn btn-danger rounded-5 col-5 m-2 mx-3">Block Patient</button>
                                            <button class="btn btn-success rounded-5 col-5 m-2 mx-3">Email</button>

                                        </div>

                                    </div>
                                </div>
                            </div>


                        }
                    }
                </div>

            </div>*@

            
        </div>


    </div>
</div>
<footer style=" position:fixed;bottom:0; width:100%;">
    <div style="padding-right: 40px;">
        <a href="" style="color: white;">Terms Of Conditions</a> |
        <a href="" style="color: white;">Privacy Policy</a>
    </div>
</footer>

<script>
    var table = new DataTable('#providerss', { searching: false, paging: false });

    //$("#region123").change(function () {
    //    regionid = this.value;
    //    search = "";
    //    filtertable();
    //});

    var selectedCheck = [];
    var checkboxes1 = document.querySelectorAll(".providerscheck");

    checkboxes1.forEach(function (checkbox) {
        if (checkbox.checked) {
            selectedCheck.push(checkbox.value);
        }
    });

    $(".providerscheck").change(function () {
        var selectedCheck1 = [];
        var checkboxes11 = document.querySelectorAll(".providerscheck");

        checkboxes11.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedCheck1.push(checkbox.value);
            }
        });

        if(selectedCheck1.toString() != selectedCheck.toString()){
            document.getElementById("ProvidersSave").style.display = "block";
        }else{
            document.getElementById("ProvidersSave").style.display = "none";
        }
    });

    function saveStopNotification() {

        var idlist = [];
        var checkboxes11 = document.querySelectorAll(".providerscheck");

        checkboxes11.forEach(function (checkbox) {
            if (checkbox.checked) {
                idlist.push(checkbox.value);
            }
        });

        var totallist = [];
        var checkboxes11 = document.querySelectorAll(".providerscheck");

        checkboxes11.forEach(function (checkbox) {
            totallist.push(checkbox.value);
        });

        $.ajax({
            url: '/AdminProviders/stopnotification',
            type: 'POST',
            data: { idlist: idlist, totallist: totallist },
            success: function (data) {
                document.getElementById("ProvidersSave").style.display = "none";
                selectedCheck = idlist;
            },
            error: function () {
                console.error('Error loading partial view.');
            }
        });
    }

    function loadProviderView(method,physicianid) {
        $.ajax({
            url: '/AdminProviders/'+method,
            type: 'POST',
            data: { physicianid: physicianid },
            success: function (data) {
                $('#provider').html(data);
            },
            error: function () {
                console.error('Error loading partial view.');
            }
        });
    }

</script>

@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
    }