@model hellodoc.DbEntity.ViewModels.AdminRecordsListModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block mt-3" id="searchrecordstable">
    <table style="width:100%;z-index:5">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Created Date</th>
                <th>Notes</th>
                <th>Is Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody style="font-size:larger;font-weight:400;">
            @{
                foreach (var a in Model.blokedHistory)
                {

                    <tr class="m-2">
                        <td>@a.PatientName</td>
                        <td>@a.PhoneNumber</td>
                        <td>@a.Email</td>
                        <td>@a.CreatedDate</td>
                        <td>@a.Note</td>
                        <td>@a.IsActive</td>
                        <td><button type="button" class="btn btn-outline-info" onclick="recordsoperation({actionType:'Unblock',requestid : '@a.Requestid'})">UnBlock</button></td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>

<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
    <div class="accordion" id="accordionExample">

        @{
            foreach (var a in Model.blokedHistory)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed  d-grid" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@a.Requestid" aria-expanded="true" aria-controls="collapse_@a.Requestid">
                            <div class="m-2">
                                <div>@a.PatientName</div>
                            </div>
                            <div class="m-2">
                                <div>@a.Email</div>
                            </div>

                        </button>

                       
                    </h2>

                    <div id="collapse_@a.Requestid" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="background-color:#d7ffffde;">
                        <div class="accordion-body">

                            <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Phone :<b> @a.PhoneNumber </b></div>
                            <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Created Date :<b> @a.CreatedDate </b></div>
                            <div class="mb-2"><i class="bi bi-envelope-at rounded-pill btn btn-outline-info text-black-50 px-2"></i> Notes :<b> @a.Note </b></div>
                            <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> IsActive :<b> @a.IsActive </b></div>
                            <div class="row">
                                <button type="button" class="btn btn-outline-info" onclick="recordsoperation({actionType:'Unblock',requestid : '@a.Requestid'})">UnBlock</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>

@{
    if(Model.blokedHistory.Count == 0)
    {
        <div class="d-flex justify-content-center">
            <p class="fs-6">No Records Found</p>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-between m-2">
    <div>
        @Model.entries
    </div>
    <div>
        @{
            if (Model.pageNumber > 1)
            {
                var previousPage = Model.pageNumber - 1;
                <button class="btn btn-outline-secondary" onclick="searchrecords('BlockedHistory','@previousPage')"><i class="bi bi-chevron-left"></i></button>
            }
            else
            {
                <button class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
            }
        }

        <button class="btn btn-outline-info">@Model.pageNumber</button>
        @{
            if (Model.morePages == true)
            {
                var nextpage = Model.pageNumber + 1;
                <button class="btn btn-outline-secondary" onclick="searchrecords('BlockedHistory','@nextpage')"><i class="bi bi-chevron-right"></i></button>
            }
            else
            {
                <button class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
            }
        }
    </div>
   </div>
    }
}

@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
 }
