@model hellodoc.DbEntity.ViewModels.AdminRecordsListModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block mt-3" id="searchrecordstable">
    <table style="width:100%;z-index:5">
        <thead>
            <tr>
                <th>Recipient</th>
                <th>Action</th>
                <th>Role Name</th>
                <th>Email Id</th>
                <th>Created Date</th>
                <th>Sent Date</th>
                <th>Sent</th>
                <th>Sent Times</th>
                <th>Confirmation Number</th>
            </tr>
        </thead>
        <tbody style="font-size:larger;font-weight:400;">
            @{
                foreach (var a in Model.emailLogs)
                {

                    <tr class="m-2">
                        <td>@a.Recipient</td>
                        <td>@a.Actions</td>
                        <td>@a.RoleName</td>
                        <td>@a.EmailId</td>
                        <td>@a.CreateDate</td>
                        <td>@a.SentDate</td>
                        <td>@a.Sent</td>
                        <td>@a.SentTimes</td>
                        <td>@a.ConfirmationNumber</td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>

<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
    <div class="accordion" id="accordionExample">

        @{
            foreach (var a in Model.emailLogs)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed  d-grid" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@a.EmaillogsId" aria-expanded="true" aria-controls="collapse_@a.EmaillogsId">
                            <div class="m-2">
                                <div>@a.Recipient</div>
                            </div>
                            <div class="m-2">
                                <div>Action Name : @a.Actions </div>
                                <div>Email : @a.EmailId</div>
                            </div>

                        </button>
                        
                    </h2>

                    <div id="collapse_@a.EmaillogsId" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="background-color:#d7ffffde;">
                        <div class="accordion-body">

                            <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Role Name :<b> @a.RoleName </b></div>
                            <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Created Date :<b> @a.CreateDate </b></div>
                            <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Sent Date :<b> @a.SentDate </b></div>
                            <div class="mb-2"><i class="bi bi-envelope-at rounded-pill btn btn-outline-info text-black-50 px-2"></i> Sentries :<b> @a.SentTimes </b></div>
                            <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> ConfirmationNumber :<b> @a.ConfirmationNumber </b></div>
                            

                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>

@{
    if(Model.emailLogs.Count == 0)
    {
        <div class="d-flex justify-content-center">
            <p class="fs-6">No Records Found</p>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-between m-2">
    <div>
        @Model.entries
    </div>
    <div>
        @{
            if (Model.pageNumber > 1)
            {
                var previousPage = Model.pageNumber - 1;
                <button class="btn btn-outline-secondary" onclick="searchrecords('EmailLogs','@previousPage')"><i class="bi bi-chevron-left"></i></button>
            }
            else
            {
                <button class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
            }
        }

        <button class="btn btn-outline-info">@Model.pageNumber</button>
        @{
            if (Model.morePages == true)
            {
                var nextpage = Model.pageNumber + 1;
                <button class="btn btn-outline-secondary" onclick="searchrecords('EmailLogs','@nextpage')"><i class="bi bi-chevron-right"></i></button>
            }
            else
            {
                <button class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
            }
        }
    </div>
</div>

    }
}

