@model hellodoc.DbEntity.ViewModels.AdminRecordsListModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="login" id="main" style="margin-bottom:100px">

    <div class="row bgcolor1">

        <div class=" col-11 mx-auto mt-4 mb-2">

            <div class="d-flex justify-content-between">
                <h4> Patient Records </h4>
                <div><button class="btn btn-outline-info " onclick="adminDashload({action : 'PatientHistory',actionType : 'GetView', id :'recordsactive',controller : 'AdminRecords', Back : true})"><i class="bi bi-chevron-left"></i>Back</button></div>
            </div>

        </div>
        <div class="d-grid gap-2 col-11 mx-auto d-flex flex-column rounded-3 bgcolor px-4 mt-4" id="searchrecords">
           
            <div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block mt-3" id="searchrecordstable">
                <table style="width:100%;z-index:5">
                    <thead>
                        <tr>
                            <th>Client/Member</th>
                            <th>Created Date</th>
                            <th>Confirmation</th>
                            <th>Provider Name</th>
                            <th>Concluded Date</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:larger;font-weight:400;">
                        @{
                            foreach (var a in Model.patientRecords)
                            {
                                var reqcolor = "";
                                var text = "";

                                if (a.requestTypeId == 1)
                                {
                                    reqcolor = "#d23636";
                                    text = "Business";
                                }
                                else if (a.requestTypeId == 2)
                                {
                                    reqcolor = "#418441";
                                    text = "Patient";
                                }
                                else if (a.requestTypeId == 3)
                                {
                                    reqcolor = "#ecb728";
                                    text = "Family/Friend";
                                }
                                else if (a.requestTypeId == 4)
                                {
                                    reqcolor = "#14428ffa";
                                    text = "Concierge";
                                }

                                <tr class="m-2">
                                    <td>@a.PatientName</td>
                                    <td>@a.CreatedDate</td>
                                    <td>@a.ConfirmationNumber</td>
                                    <td>@a.ProviderName</td>
                                    <td>@a.Concludeddate</td>
                                    <td>@a.FinalReport</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-outline-info" dropdown-toggle p-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Actions
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><button class="dropdown-item" onclick="loadActionView({ActionType:'ViewCase',requestid :@a.RequestId,bcolor:'@reqcolor',btext:'@text'})"><i class="bi bi-journal-text me-2"></i>View Case</button></li>
                                                <li><button class="dropdown-item" onclick="loadActionView({ActionType:'ViewUploads',requestid :'@a.RequestId'})"><i class="bi bi-file-earmark-arrow-up me-2"></i>View Uploads</button></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>

            <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                <div class="accordion" id="accordionExample">

                    @{
                        foreach (var a in Model.patientRecords)
                        {
                            var reqcolor = "";
                    var text = "";

                    if (a.requestTypeId == 1)
                    {
                        reqcolor = "#d23636";
                        text = "Business";
                    }
                    else if (a.requestTypeId == 2)
                    {
                        reqcolor = "#418441";
                        text = "Patient";
                    }
                    else if (a.requestTypeId == 3)
                    {
                        reqcolor = "#ecb728";
                        text = "Family/Friend";
                    }
                    else if (a.requestTypeId == 4)
                    {
                        reqcolor = "#14428ffa";
                        text = "Concierge";
                    }


                            <div class="accordion-item">
                                <h2 class="accordion-header">

                                    <button class="accordion-button collapsed  d-grid" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@a.RequestId" aria-expanded="true" aria-controls="collapse_@a.RequestId">
                                        <div class="d-flex justify-content-between w-100 m-2">
                                            <div>@a.PatientName</div>
                                        </div>
                                        <div class="w-100 m-2">
                                            <div>@a.ConfirmationNumber</div>
                                        </div>

                                    </button>

                                </h2>

                                <div id="collapse_@a.RequestId" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="background-color:#d7ffffde;">
                                    <div class="accordion-body">

                                        <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Created Date :<b> @a.CreatedDate </b></div>
                                        <div class="mb-2"><i class="bi bi-envelope-at rounded-pill btn btn-outline-info text-black-50 px-2"></i> Provider :<b> @a.ProviderName </b></div>
                                        <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Conclude Date :<b> @a.Concludeddate </b></div>
                                        <div class="mb-2"><i class="bi bi-person-circle rounded-pill btn btn-outline-info text-black-50 px-2"></i> Status :<b> @a.Status </b></div>
                                        <div class="row">
                                            <button class="btn btn-outline-info rounded-5 col-5 m-2 mx-3" onclick="loadActionView({ActionType:'ViewUploads',requestid :'@a.RequestId'})">View Uploads</button>
                                            <button class="btn btn-outline-info" onclick="loadActionView({ActionType:'ViewCase',requestid :@a.RequestId,bcolor:'@reqcolor',btext:'@text'})"><i class="bi bi-journal-text me-2"></i>View Case</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>

            @{
    if(Model.patientRecords.Count == 0)
    {
        <div class="d-flex justify-content-center">
        <p class="fs-6">No Records Found</p>
        </div>
    }
    else
    {
        

<div class="d-flex justify-content-between m-2">
                <div>
                    @Model.entries
                </div>
                <div>
                    @{
                        if (Model.pageNumber > 1)
                        {
                            var previousPage = Model.pageNumber - 1;
                            <button class="btn btn-outline-secondary" onclick="searchrecords('PatientRecords','@previousPage',false,'@Model.UserId')"><i class="bi bi-chevron-left"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
                        }
                    }

                    <button class="btn btn-outline-info">@Model.pageNumber</button>
                    @{
                        if (Model.morePages == true)
                        {
                            var nextpage = Model.pageNumber + 1;
                            <button class="btn btn-outline-secondary" onclick="searchrecords('PatientRecords','@nextpage',false,'@Model.UserId')"><i class="bi bi-chevron-right"></i></button>
                        }
                        else
                        {
                            <button class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
                        }
                    }
                </div>
            </div>

    }
}


        </div>


    </div>
</div>
   
@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
 }
