@model hellodoc.DbEntity.ViewModels.AdminRecordsListModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block mt-3" id="searchrecordstable">
    <table style="width:100%;z-index:5">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Requestor</th>
                <th>Date Of Service</th>
                <th>Closed Case Date</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Zip</th>
                <th>Request Status</th> 
                <th>Physician</th>
                <th>Physician Note</th>
                <th>Cancelled By Provider Note</th>
                <th>Admin Note</th>
                <th>Patient Note</th>
                <th>Delete Permenantly</th>
            </tr>
        </thead>
        <tbody style="font-size:larger;font-weight:400;">
            @{
                foreach (var a in Model.searchRecords)
                {

                    <tr class="m-2">
                        <td>@a.Patientname</td>
                        <td>@a.Requestor</td>
                        <td>@a.DateOfService</td>
                        <td>@a.ClosedCaseDate</td>
                        <td>@a.Email</td>
                        <td>@a.PhoneNumber</td>
                        <td>@a.Address</td>
                        <td>@a.Zip</td>
                        <td>@a.RequestStatus</td>
                        <td>@a.Physician</td>
                        <td>@a.PatientNote</td>
                        <td>@a.CancelledByProviderNote</td>
                        <td>@a.AdminNote</td>
                        <td>@a.PhysicianNote</td>
                        <td><button class="btn btn-outline-info" onclick="recordsoperation({actionType:'DeletePermanantly',requestid : '@a.RequestId'})">Delete</button></td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>

<div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
    <div class="accordion" id="accordionExample">

        @{
            foreach (var a in Model.searchRecords)
            {
                <div class="accordion-item">
                    <h4 class="accordion-header">
                        <button class="accordion-button collapsed  d-grid" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@a.RequestClientId" aria-expanded="true" aria-controls="collapse_@a.RequestClientId">
                            <div class="m-2">
                                <div>@a.Patientname</div>
                            </div>
                            <div class="m-2">
                                <div>@a.Address</div>
                            </div>

                        </button>
                       
                    </h4>

                    <div id="collapse_@a.RequestClientId" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="background-color:#d7ffffde;">
                        <div class="accordion-body">

                            <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Requestor :<b> @a.Requestor </b></div>
                            <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Date Of Birth :<b> </b></div>
                            <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i>  Case Closed Date :<b> @a.ClosedCaseDate </b></div>
                            <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Email :<b> @a.Email </b></div>
                            <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Phone:<b> @a.PhoneNumber </b></div>
                            <div class="mb-2"><i class="bi rounded-pill btn btn-outline-info text-black-50 bi-calendar3  px-2"></i> Address :<b> @a.Address </b></div>
                            <div class="mb-2"><i class="bi bi-envelope-at rounded-pill btn btn-outline-info text-black-50 px-2"></i> Zip :<b> @a.Zip </b></div>
                            <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Request Status  :<b> @a.RequestStatus </b></div>
                            <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Provider :<b> @a.Physician </b></div>
                            <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Provider Note :<b> @a.PhysicianNote </b></div>
                            <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Cancelled By Provider Note :<b> @a.CancelledByProviderNote </b></div>
                            <div class="mb-2"><i class="bi bi-telephone rounded-pill btn btn-outline-info text-black-50 px-2"></i> Admin Note :<b> @a.AdminNote </b></div>
                            <div class="mb-2"><i class="bi bi-person-circle rounded-pill btn btn-outline-info text-black-50 px-2"></i> Cancellation Reasons :<b>  </b></div>
                            <div class="mb-2"><i class="bi bi-person-circle rounded-pill btn btn-outline-info text-black-50 px-2"></i> Patient Note :<b> @a.PatientNote </b></div>
                            <div class="row">
                                <button class="btn btn-outline-info" onclick="recordsoperation({actionType:'DeletePermanantly',requestid : '@a.RequestId'})">Delete</button>
                            </div>

                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>

@{
    if(Model.searchRecords.Count == 0)
    {
        <div class="d-flex justify-content-center mb-2">
            <p class="fs-5">No Records Found</p>
        </div>
    }
    else
    {
        

<div class="d-flex justify-content-between m-2">
    <div>
        @Model.entries
    </div>
    <div>
        @{
            if (Model.pageNumber > 1)
            {
                var previousPage = Model.pageNumber - 1;
                <button class="btn btn-outline-secondary" onclick="searchrecords('SearchRecords','@previousPage')"><i class="bi bi-chevron-left"></i></button>
            }
            else
            {
                <button class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
            }
        }

        <button class="btn btn-outline-info">@Model.pageNumber</button>
        @{
            if (Model.morePages == true)
            {
                var nextpage = Model.pageNumber + 1;
                <button class="btn btn-outline-secondary" onclick="searchrecords('SearchRecords','@nextpage')"><i class="bi bi-chevron-right"></i></button>
            }
            else
            {
                <button class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
            }
        }
    </div>
</div>

    }
}




@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
 }
