@model hellodoc.DbEntity.ViewModels.AdminRecordsListModal
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div style="margin-bottom:50px;" class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block mt-3" id="searchrecordstable">
    <table style="width:100%;z-index:5">
        <thead>
            <tr>
                <th>Recipient</th>
                <th>Action</th>
                <th>Role Name</th>
                <th>Mobile Number</th>
                <th>Created Date</th>
                <th>Sent Date</th>
                <th>Sent</th>
                <th>Sent Times</th>
                <th>Confirmation Number</th>
            </tr>
        </thead>
        <tbody style="font-size:larger;font-weight:400;">
            @{
                foreach (var a in Model.smsLogs)
                {

                    <tr class="m-2">
                        <td>@a.Recipient</td>
                        <td></td>
                        <td>@a.RoleName</td>
                        <td>@a.MobileNumber</td>
                        <td>@a.CreatedDate</td>
                        <td>@a.SentDate</td>
                        <td>@a.Sent</td>
                        <td>@a.SentTimes</td>
                        <td>@a.ConfirmationNumber</td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>

<div class="d-flex justify-content-between m-2">
    <div>
        @Model.entries
    </div>
    <div>
        @{
            if (Model.pageNumber > 1)
            {
                var previousPage = Model.pageNumber - 1;
                <button class="btn btn-outline-secondary" onclick="searchrecords('SMSLogs','@previousPage')"><i class="bi bi-chevron-left"></i></button>
            }
            else
            {
                <button class="btn btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
            }
        }

        <button class="btn btn-outline-info">@Model.pageNumber</button>
        @{
            if (Model.morePages == true)
            {
                var nextpage = Model.pageNumber + 1;
                <button class="btn btn-outline-secondary" onclick="searchrecords('SMSLogs','@nextpage')"><i class="bi bi-chevron-right"></i></button>
            }
            else
            {
                <button class="btn btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
            }
        }
    </div>
</div>

@section Scripts{
    @{
        <Partial name="_ValidationScriptsPartial" />
    }
 }
